<h1 style="color:green;text-align:center">Basic terms and definitions</h1>

**Qualitative** 
  + categorical
  + non-numeric

<h1 style="color:green;text-align:center">Introduction to R and RStudio</h1>

<h3 style="color:blue;text-align:center">Exercise 1</h3>

+ the sum of 52.3, 74.8, 3.17

In [2]:
 52.3 + 74.8 + 3.17

[1] 130.27

 ## Math functions in R

   + 
        + <code>abs()</code>: Compute the absolute value of a number.
        + <code>sqrt()</code>: Calculate the square root of a number.
        + <code>exp()</code>: Compute the exponential function, e^x.
        + <code>log()</code>: Compute the natural logarithm (base e) of a number.
        + <code>log10()</code>: Compute the base-10 logarithm of a number.
        + <code>log2()</code>: Compute the base-2 logarithm of a number.
        + <code>cos()</code>: Calculate the cosine of an angle in radians.
        + <code>sin()</code>: Calculate the sine of an angle in radians.
        + <code>tan()</code>: Calculate the tangent of an angle in radians.
        + <code>acos()</code>: Calculate the arccosine (inverse cosine) of a value.
        + <code>asin()</code>: Calculate the arcsine (inverse sine) of a value.
        + <code>atan()</code>: Calculate the arctangent (inverse tangent) of a value.
        + <code>atan2()</code>: Calculate the arctangent of y/x, taking both coordinates into account.
        + <code>cospi()</code>: Calculate the cosine of an angle in degrees.
        + <code>sinpi()</code>: Calculate the sine of an angle in degrees.
        + <code>tanpi()</code>: Calculate the tangent of an angle in degrees.
        + <code>floor()</code>: Round down to the nearest integer.
        + <code>ceiling()</code>: Round up to the nearest integer.
        + <code>round()</code>: Round to the nearest integer.
        + <code>trunc()</code>: Truncate decimal parts (remove fractional part).
        + <code>sign()</code>: Determine the sign of a number (positive, negative, or zero).
        + <code>max()</code>: Find the maximum value in a vector or set of values.
        + <code>min()</code>: Find the minimum value in a vector or set of values.
        + <code>sum()</code>: Calculate the sum of all elements in a vector.
        + <code>prod()</code>: Calculate the product of all elements in a vector.
        + <code>mean()</code>: Calculate the mean (average) of a vector of values.
        + <code>median()</code>: Calculate the median (middle value) of a vector.
        + <code>var()</code>: Calculate the variance of a vector of values.
        + <code>sd()</code>: Calculate the standard deviation of a vector of values.
        + <code>cor()</code>: Calculate the correlation coefficient between two vectors.
        + <code>cov()</code>: Calculate the covariance between two vectors.

In [3]:
# the square root of 144
sqrt(144)

[1] 12

In [8]:
# test
sin(pi/2)

[1] 1

In [6]:
# the 10-based logarithm of 200 multiplied with sin of Ï€/4
log10(200)*sin((pi/4))

[1] 1.627074

In [9]:
# the cumulative sum of the numbers 1,3,18,20,2 (use the cumsum() command)
vec<-c(1,3,18,20,2)
cumsum(vec)

[1]  1  4 22 42 44

+ Find 10 numbers between 0 and 20 rounded to the nearest integer
  value (hint use the command <code>sample()</code> or a combination of  the
  commands <code>round()</code> and <code>runif()</code>

 using <code>sample()</code>

In [21]:
c(0:20)

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [11]:
sample(x=c(0:20),size = 10,replace = F)

 [1] 12  8  4  9 10  0  6 18 15 20

using <code>runif()</code>

In [16]:
sm<-runif(n=10,min = 0,max=10)
sm

 [1] 2.684118 9.080042 6.483239 8.122757 9.980089 2.469139 8.987376 5.612098
 [9] 4.180343 8.473840

In [20]:
round(sm,0)

 [1]  3  9  6  8 10  2  9  6  4  8

In [26]:
help(runif) # to get docum

<h3 style="color:blue;text-align:center">Exercise 2</h3>

+ Assign the number 5 to x and the number 10 to y.

In [27]:
x<-5
y<-10

+ Calculate the product of x and y.

In [28]:
print(x*y)

[1] 50

+ Store the result in a new variable z.

In [29]:
z<-x*y

+ Inspect workspace

In [30]:
ls()

[1] "sm"  "vec" "x"   "y"   "z"

+ Make a vector myvec of the objects x,y,z.

In [32]:
myvec<-c(x,y,z)
myvec

[1]  5 10 50

+ Find the minimum, the maximum and the mean of the vector

In [34]:
print(min(myvec)) # find min
print(max(myvec)) # find max
print(mean(myvec)) # find mean

[1] 5
[1] 50
[1] 21.66667

+ Remove myvec from the workspace

In [35]:
rm(x) # remove only one var

In [36]:
ls()

[1] "myvec" "sm"    "vec"   "y"     "z"

In [37]:
rm(y,z) # remove multiple vars

In [38]:
ls()

[1] "myvec" "sm"    "vec"

<h3 style="color:blue;text-align:center">Exercise 3</h3>

The numbers below are the first ten days of rainfall in a year
0.1 0.5 2.3 1.1 11.3 14.7 23.4 15.7 0 0.9

+ Read them into a vector using the c() command.

In [40]:
rf<-c( 0.1, 0.5 ,2.3 ,1.1 ,11.3 ,14.7, 23.4 ,15.7, 0 ,0.9)
rf

 [1]  0.1  0.5  2.3  1.1 11.3 14.7 23.4 15.7  0.0  0.9

+ Calulate the mean and the standard deviation.

In [41]:
mn<-mean(rf)
sd<-sd(rf)
cat(paste("mean = ",mn,"and sd = ",sd))

mean =  7 and sd =  8.53359374602648

+ Calculate the cumulative rainfall over these ten days. What is
   total sum of the rainfall?

In [43]:
cumsum(rf)

 [1]  0.1  0.6  2.9  4.0 15.3 30.0 53.4 69.1 69.1 70.0

In [44]:
sum(rf)

[1] 70

+ Which day saw the highest rainfall? Find an appropriate R command.

In [46]:
rf==max(rf)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE

In [45]:
which(rf==max(rf))

[1] 7

+ Take a subset of the rainfall data where rain is larger than 10

In [47]:
rf>10

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE

In [49]:
rf[rf>10]

[1] 11.3 14.7 23.4 15.7

+ What is mean rainfall for days where the rainfall was at least 5?

In [50]:
rf>=5

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE

In [51]:
rf[rf>=5]

[1] 11.3 14.7 23.4 15.7

In [52]:
mean(rf[rf>=5])

[1] 16.275

+ Subset the vector where it is either exactly 0 or 1.1 and find the
   corresponding days.

In [54]:
rf[rf==0 | rf==1.1]

[1] 1.1 0.0

+ Alternative

In [55]:
rf %in% c(0,1.1)

 [1] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

In [56]:
rf[rf %in% c(0,1.1)]

[1] 1.1 0.0

In [59]:
which(rf %in% c(0,1.1)) # gives indexs (corresponding days)

[1] 4 9

<h3 style="color:blue;text-align:center">Exercise 4</h3>

The length of five cylinders are 2.5, 3.4, 4.8, 3.1, 1.7 and their diameters
are 0.7, 0.4, 0.5, 0.5, 0.9.

+ Read these vectors into two vectors with appropriate names.

In [62]:
len<-c(2.5, 3.4, 4.8, 3.1, 1.7) # h
diam<-c(0.7, 0.4, 0.5, 0.5, 0.9) # d 
r = diam/2 # as we need rad to calculate vol
r

[1] 0.35 0.20 0.25 0.25 0.45

Formula to calculate the Vol of a Cylinder, $$ V=\pi r^2h $$
where $r=\frac{diam}{2}$

In [63]:
vols<- pi * r**2 * len
vols

[1] 0.9621128 0.4272566 0.9424778 0.6086836 1.0814933

+ Assume the values are given in centimeter. Recalculate the volumes       so that their units are cubic millime

In [66]:
vol.cm<-(pi * r**2 * len) * 10
vol.cm

[1]  9.621128  4.272566  9.424778  6.086836 10.814933

<h3 style="color:blue;text-align:center">Exercise 5</h3>

Inspect the R commands <code>union()</code>, <code>setdiff()</code> and <code>intersect()</code> implying set
operations. Make two vectors
<code>x <- c(1,2,3,4,5)</code>
    <code> y <- c(3,5,7,9)</code>

In [67]:
x <- c(1,2,3,4,5)
y <- c(3,5,7,9)

In [68]:
cat(x)

1 2 3 4 5

In [69]:
cat(y)

3 5 7 9

+ Find values that are contained in both x and y.

In [70]:
intersect(x,y)

[1] 3 5

+ Find values that are in x but not y and vice versa

In [71]:
setdiff(x,y)

[1] 1 2 4

In [72]:
setdiff(y,x)

[1] 7 9

+ Construct a vector that contains all values contained in either x
   or y. Compare the result with <code>c(x,y)</code>

In [73]:
union(x,y)

[1] 1 2 3 4 5 7 9

In [74]:
c(x,y) # compare

[1] 1 2 3 4 5 3 5 7 9

In [76]:
seq(from=2,to = 10,by=2)

[1]  2  4  6  8 10

In [80]:
rep(x = "rep",times=10)

 [1] "rep" "rep" "rep" "rep" "rep" "rep" "rep" "rep" "rep" "rep"

In [81]:
rep(seq(from=2,to = 10,by=2),times=10)

 [1]  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10
[26]  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10  2  4  6  8 10