 <h1 style="color:blue;text-align:center">Sheet II</h1>

 <h4 style="color:green;text-align:center">Exercise 1</h4>

In [1]:
install.packages("dplyr")

Installing package into ‘/home/jrana/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [2]:
library("dplyr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
s1 <- tibble(
student = c("Adam","Bernd","Christian","Doris"),
algebra = c(NA, 5, 3, 4),
analysis = c(2, NA, 1,3),
diskrete.math = c(3,NA,2,4),
)
s2 <- tibble(
name = rep(c("Adam", "Bernd", "Christian", "Doris"), each = 2),
type = rep(c("height", "weight"), 4),
measure = c(1.83, 81, 1.75, 71, 1.69, 55, 1.57, 62))
s3 <- tibble(
name = c("Adam", "Bernd", "Christian", "Doris"),
ratio = c("81/1.83", "71/1.75", "55/1.69", "62/1.57"))

In [4]:
s1

  student   algebra analysis diskrete.math
1 Adam      NA       2        3
2 Bernd      5      NA       NA
3 Christian  3       1        2
4 Doris      4       3        4

In [5]:
s2

  name      type   measure
1 Adam      height  1.83
2 Adam      weight 81.00
3 Bernd     height  1.75
4 Bernd     weight 71.00
5 Christian height  1.69
6 Christian weight 55.00
7 Doris     height  1.57
8 Doris     weight 62.00

In [6]:
s3

  name      ratio
1 Adam      81/1.83
2 Bernd     71/1.75
3 Christian 55/1.69
4 Doris     62/1.57

## s1
 + contains 3 variables
   + name, exam, grade
 + 36 values and 12 observations

## s2 & s3
 + contains 12 values
 + three variables
   + name, type, measure
 + 3 observation for every student

## why are these datasets not tidy?
  + **s1**
     + column headers are values of the variable exam, not variable name.
  + **s2**
    + the variable weight and height are stored both in cols and rows
  + **s3**
    + the values of weight and height are stored in one column

In [7]:
install.packages("tidyr")

Installing package into ‘/home/jrana/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [8]:
library("tidyr")

## Make a tidy version of all datasets.

In [9]:
s1

  student   algebra analysis diskrete.math
1 Adam      NA       2        3
2 Bernd      5      NA       NA
3 Christian  3       1        2
4 Doris      4       3        4

In [10]:
s1  %>% gather("algebra","analysis","diskrete.math",
               key="exam",value="grade")->s1_new
s1_new

   student   exam          grade
1  Adam      algebra       NA
2  Bernd     algebra        5
3  Christian algebra        3
4  Doris     algebra        4
5  Adam      analysis       2
6  Bernd     analysis      NA
7  Christian analysis       1
8  Doris     analysis       3
9  Adam      diskrete.math  3
10 Bernd     diskrete.math NA
11 Christian diskrete.math  2
12 Doris     diskrete.math  4

In [11]:
dim(s1_new)

[1] 12  3

In [12]:
s2

  name      type   measure
1 Adam      height  1.83
2 Adam      weight 81.00
3 Bernd     height  1.75
4 Bernd     weight 71.00
5 Christian height  1.69
6 Christian weight 55.00
7 Doris     height  1.57
8 Doris     weight 62.00

In [13]:
s2 %>% spread(key=type, value=measure)

  name      height weight
1 Adam      1.83   81
2 Bernd     1.75   71
3 Christian 1.69   55
4 Doris     1.57   62

In [14]:
s3

  name      ratio
1 Adam      81/1.83
2 Bernd     71/1.75
3 Christian 55/1.69
4 Doris     62/1.57

In [15]:
s3 %>% separate(col = ratio, into=c("weight","height"),sep = "/")->s3_nw
s3_nw

  name      weight height
1 Adam      81     1.83
2 Bernd     71     1.75
3 Christian 55     1.69
4 Doris     62     1.57

In [16]:
s3_nw %>% unite(col="ratio",weight,height,sep="-")

  name      ratio
1 Adam      81-1.83
2 Bernd     71-1.75
3 Christian 55-1.69
4 Doris     62-1.57

## some more examples of <code style="color:green">gather()</code>, <code style="color:green">seperate()</code>, <code style="color:green">spread()</code>,<code style="color:green">unite()</code>

In [17]:
table1

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

In [18]:
table1 %>% select(-population) %>% spread(key=year,value=cases)

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [19]:
table1 %>% select(-cases) %>% spread(key=year,value=population)

  country     1999       2000
1 Afghanistan   19987071   20595360
2 Brazil       172006362  174504898
3 China       1272915272 1280428583

## table1 > table2

In [20]:
table1 %>% gather(cases,population,key="type",value="count") %>% arrange(country)

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 2000 cases            2666
3  Afghanistan 1999 population   19987071
4  Afghanistan 2000 population   20595360
5  Brazil      1999 cases           37737
6  Brazil      2000 cases           80488
7  Brazil      1999 population  172006362
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       2000 cases          213766
11 China       1999 population 1272915272
12 China       2000 population 1280428583

In [21]:
table2

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 1999 population   19987071
3  Afghanistan 2000 cases            2666
4  Afghanistan 2000 population   20595360
5  Brazil      1999 cases           37737
6  Brazil      1999 population  172006362
7  Brazil      2000 cases           80488
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       1999 population 1272915272
11 China       2000 cases          213766
12 China       2000 population 1280428583

## table2 > table1

In [22]:
table2 %>% spread(key =type,value=count )

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

In [23]:
table3

  country     year rate
1 Afghanistan 1999 745/19987071
2 Afghanistan 2000 2666/20595360
3 Brazil      1999 37737/172006362
4 Brazil      2000 80488/174504898
5 China       1999 212258/1272915272
6 China       2000 213766/1280428583

In [24]:
table3 %>% separate(col = rate,into=c("cases","population"),sep="/")

  country     year cases  population
1 Afghanistan 1999 745    19987071
2 Afghanistan 2000 2666   20595360
3 Brazil      1999 37737  172006362
4 Brazil      2000 80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

In [25]:
table4a

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [26]:
table4b

  country     1999       2000
1 Afghanistan   19987071   20595360
2 Brazil       172006362  174504898
3 China       1272915272 1280428583

In [27]:
table5

  country     century year rate
1 Afghanistan 19      99   745/19987071
2 Afghanistan 20      00   2666/20595360
3 Brazil      19      99   37737/172006362
4 Brazil      20      00   80488/174504898
5 China       19      99   212258/1272915272
6 China       20      00   213766/1280428583

 <h4 style="color:green;text-align:center">Exercise 2</h4>

+ Calculate the value of $sin(log( \sqrt{5 + 3}))$ directly and using the % >
   %-operator.

In [28]:
sin(log(sqrt(5+3))) ## nested

[1] 0.8622628

In [29]:
c(5+3) %>% sum() %>% sqrt() %>% log() %>% sin() ## using %>% operator

[1] 0.8622628

+ Define a vector v with values 0.5,1,1.5,...,5 and calculate the by 2
  digits rounded sum of the logarithms of the squared values of v
  with nested operations and using the % > %-operator.

In [30]:
v<-seq(from = 0.5 ,to=5,by=0.5)
v

 [1] 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [31]:
round(sum(log10(v**2)),2) ## nested

[1] 7.1

In [32]:
myfun<-function(vec){
    return(vec**2)
}

In [33]:
myfun(2)

[1] 4

In [34]:
myfun(c(2,3,4))

[1]  4  9 16

In [35]:
v %>% myfun() %>% log10() %>% sum() %>% round(2) ## using %>% op

[1] 7.1

 <h4 style="color:green;text-align:center">Exercise 3</h4>

Create a tibble df with the data of 10 students, i.e. with 10 rows and
the columns id (values 1,2,..., 10), sex (values are “f” and “m”, age
(integer values between 20 and 35) and score1 (integer values between
0 and 25). You can choose arbitrary values in the columns. If you do
not like coding the values by hand you can use:

In [36]:
df<-tibble(id=1:10,sex=sample(x=c("F","M"),size=10,replace=T),
          age=round(runif(10,20,35)),
          score1=round(runif(10,0,25))
          )
df

   id sex age score1
1   1 M   24  19
2   2 F   33  15
3   3 M   21   5
4   4 F   25  14
5   5 M   32  19
6   6 F   33   8
7   7 F   27   2
8   8 F   29   6
9   9 M   26  10
10 10 F   24  11

+ Select the date of all male students

In [37]:
df %>% filter(sex=="M")

  id sex age score1
1 1  M   24  19
2 3  M   21   5
3 5  M   32  19
4 9  M   26  10

+ Add the data of a new student with id = 11, sex = “m”, age =
   25 and score1 = 4.

In [38]:
add_row(.data=df,id=11,sex='M',age=25,score1=4 )->df
df

   id sex age score1
1   1 M   24  19
2   2 F   33  15
3   3 M   21   5
4   4 F   25  14
5   5 M   32  19
6   6 F   33   8
7   7 F   27   2
8   8 F   29   6
9   9 M   26  10
10 10 F   24  11
11 11 M   25   4

+ Add two columns score2 and score3 with random integer numbers
  between 0 and 25.

In [39]:
df %>% mutate("score2"=sample(x = 0:25,size=11,replace=T),
              "score3"=sample(x = 0:25,size=11,replace=T)
             ) -> df
df

   id sex age score1 score2 score3
1   1 M   24  19      8     19
2   2 F   33  15     16      3
3   3 M   21   5     12      5
4   4 F   25  14     12     11
5   5 M   32  19      7     25
6   6 F   33   8     23     20
7   7 F   27   2      3     10
8   8 F   29   6      0     22
9   9 M   26  10      0      4
10 10 F   24  11     16     13
11 11 M   25   4     13     12

+ Add a column containing sum of all scores.

In [40]:
df %>% mutate("total"=score1+score2+score3) ->df
df

   id sex age score1 score2 score3 total
1   1 M   24  19      8     19     46
2   2 F   33  15     16      3     34
3   3 M   21   5     12      5     22
4   4 F   25  14     12     11     37
5   5 M   32  19      7     25     51
6   6 F   33   8     23     20     51
7   7 F   27   2      3     10     15
8   8 F   29   6      0     22     28
9   9 M   26  10      0      4     14
10 10 F   24  11     16     13     40
11 11 M   25   4     13     12     29

 + Add a column which denote the grades according to the scheme
 </br>
$$ 
grad =
\begin{cases}
    5 & \text{if} & \text{total} \leq 37 \\
    4 & \text{if} & 45 \ge \text{total} > 37 \\
    3 & \text{if} & 55 \ge \text{total} > 45 \\
    2 & \text{if} & 65 \ge \text{total} > 55 \\
    1 & \text{if} & \text{total} \ge 65 \\
\end{cases}
$$

In [41]:
df %>% mutate("grad" = case_when(
    total <= 37 ~ 5,
    total > 37 & total <= 45 ~ 4,
    total > 45 & total <= 55 ~ 3,
    total > 55 & total <= 65 ~ 2,
    total > 65 ~ 1
  )) ->df
df

   id sex age score1 score2 score3 total grad
1   1 M   24  19      8     19     46    3
2   2 F   33  15     16      3     34    5
3   3 M   21   5     12      5     22    5
4   4 F   25  14     12     11     37    5
5   5 M   32  19      7     25     51    3
6   6 F   33   8     23     20     51    3
7   7 F   27   2      3     10     15    5
8   8 F   29   6      0     22     28    5
9   9 M   26  10      0      4     14    5
10 10 F   24  11     16     13     40    4
11 11 M   25   4     13     12     29    5

+ Find the values of the variables id, sex and grade sorted by the
   values of sex of all students who have passed

In [42]:
df %>% filter(grad>=4) %>% select(id,sex,grad) %>% arrange(sex)

  id sex grad
1  2 F   5
2  4 F   5
3  7 F   5
4  8 F   5
5 10 F   4
6  3 M   5
7  9 M   5
8 11 M   5

+ Calculate the mean, minimum, maximum and median of the vari-
  able sum of scores grouped by the variable sex.

In [43]:
df %>% group_by(sex) %>% summarise(
    mean=mean(total),
    min=min(total),
    max=max(total),
    mid=median(total)
)

  sex mean     min max mid
1 F   34.16667 15  51  35.5
2 M   32.40000 14  51  29.0

In [44]:
df %>% group_by(sex) -> df_groupd

In [45]:
df_groupd %>% group_split()

<list_of<
  tbl_df<
    id    : double
    sex   : character
    age   : double
    score1: double
    score2: integer
    score3: integer
    total : double
    grad  : double
  >
>[2]>
[[1]]
# A tibble: 6 × 8
     id sex     age score1 score2 score3 total  grad
  <dbl> <chr> <dbl>  <dbl>  <int>  <int> <dbl> <dbl>
1     2 F        33     15     16      3    34     5
2     4 F        25     14     12     11    37     5
3     6 F        33      8     23     20    51     3
4     7 F        27      2      3     10    15     5
5     8 F        29      6      0     22    28     5
6    10 F        24     11     16     13    40     4

[[2]]
# A tibble: 5 × 8
     id sex     age score1 score2 score3 total  grad
  <dbl> <chr> <dbl>  <dbl>  <int>  <int> <dbl> <dbl>
1     1 M        24     19      8     19    46     3
2     3 M        21      5     12      5    22     5
3     5 M        32     19      7     25    51     3
4     9 M        26     10      0      4    14     5
5    11 M        25      4     13     12    29     5

 <h4 style="color:green;text-align:center">Exercise 4</h4>

In [46]:
no <- 30
df <- tibble(
stud.id = 1:no,
group = sample(x=c("A","B","C"), size=no, replace = TRUE),
ex1 = sample(x=1:10, size=no, replace = TRUE),
ex2= sample(x=1:10, size=no, replace = TRUE),
ex3 = sample(x=1:10, size=no, replace = TRUE),
ex4 = sample(x=1:10, size=no, replace = TRUE),
ex5 = sample(x=1:10, size=no, replace = TRUE)
)
df %>% slice(1:6)

  stud.id group ex1 ex2 ex3 ex4 ex5
1 1       B     1    4   8  10  4
2 2       A     6   10   2   6  3
3 3       B     5    4  10   4  3
4 4       B     1    6  10   1  8
5 5       A     7    5   3   2  7
6 6       A     8   10   1   2  1

+ Apply n() and count() to get the number of students in the dif-
  ferent groups. What are the difference between n() and count()?

In [47]:
df %>% group_by(group) %>% summarise(cnt=n())

  group cnt
1 A      9
2 B     11
3 C     10

In [48]:
df %>% count(group) # first group by then count num of obs in each group

  group n
1 A      9
2 B     11
3 C     10

+ add the variables sum.scores and mean.scores containing the sum
    and the of the scores in the exercises for every student by apply-
    ing the the functions sum() and mean(). What is the result if
    rowwise() is appplied before the mutate()?

In [49]:
df %>% mutate( sum.scores=sum(c(ex1,ex2,ex3,ex4,ex5)),
               mean.scores=mean(c(ex1,ex2,ex3,ex4,ex5))
             )

   stud.id group ex1 ex2 ex3 ex4 ex5 sum.scores mean.scores
1   1      B      1   4   8  10   4  871        5.806667
2   2      A      6  10   2   6   3  871        5.806667
3   3      B      5   4  10   4   3  871        5.806667
4   4      B      1   6  10   1   8  871        5.806667
5   5      A      7   5   3   2   7  871        5.806667
6   6      A      8  10   1   2   1  871        5.806667
7   7      B      2   4   4   5   4  871        5.806667
8   8      C      6  10  10   7  10  871        5.806667
9   9      C      2  10   1   6  10  871        5.806667
10 10      C      1   6   9   5   2  871        5.806667
11 11      A      9   7  10  10   7  871        5.806667
12 12      B      8   9   1   2   2  871        5.806667
13 13      B      7   1   1   2   3  871        5.806667
14 14      B     10   3   2   3   9  871        5.806667
15 15      A      4   5   9   6   4  871        5.806667
16 16      A      8   5   7   6   8  871        5.806667
17 17      A      8   8   8  10   8  871        5.806667
18 18      C      5   7   7  10   2  871        5.806667
19 19      B      5   9   8   8   6  871        5.806667
20 20      A      7   8   2   4   7  871        5.806667
21 21      B      1   5  10   7   7  871        5.806667
22 22      C      6   7   5   2   4  871        5.806667
23 23      C     10   9   7   8   8  871        5.806667
24 24      B      4   1   5   4   3  871        5.806667
25 25      C      5  10   5   4   6  871        5.806667
26 26      B      4   6   3   5   3  871        5.806667
27 27      A      8   8  10   6  10  871        5.806667
28 28      C     10   7   3   6   6  871        5.806667
29 29      C      9   1   5   5   9  871        5.806667
30 30      C      8  10   6   4   5  871        5.806667

In [50]:
sum(df$ex1) + sum(df$ex2) + sum(df$ex3) + sum(df$ex4) + sum(df$ex5)

[1] 871

In [51]:
len<-length(c(df$ex1,df$ex2,df$ex3,df$ex4,df$ex5))
total<-sum(c(df$ex1,df$ex2,df$ex3,df$ex4,df$ex5))
total/len

[1] 5.806667

In [52]:
df %>%  rowwise() %>% mutate( sum.scores=sum(c(ex1,ex2,ex3,ex4,ex5)),
               mean.scores=mean(c(ex1,ex2,ex3,ex4,ex5))
             )

   stud.id group ex1 ex2 ex3 ex4 ex5 sum.scores mean.scores
1   1      B      1   4   8  10   4  27         5.4
2   2      A      6  10   2   6   3  27         5.4
3   3      B      5   4  10   4   3  26         5.2
4   4      B      1   6  10   1   8  26         5.2
5   5      A      7   5   3   2   7  24         4.8
6   6      A      8  10   1   2   1  22         4.4
7   7      B      2   4   4   5   4  19         3.8
8   8      C      6  10  10   7  10  43         8.6
9   9      C      2  10   1   6  10  29         5.8
10 10      C      1   6   9   5   2  23         4.6
11 11      A      9   7  10  10   7  43         8.6
12 12      B      8   9   1   2   2  22         4.4
13 13      B      7   1   1   2   3  14         2.8
14 14      B     10   3   2   3   9  27         5.4
15 15      A      4   5   9   6   4  28         5.6
16 16      A      8   5   7   6   8  34         6.8
17 17      A      8   8   8  10   8  42         8.4
18 18      C      5   7   7  10   2  31         6.2
19 19      B      5   9   8   8   6  36         7.2
20 20      A      7   8   2   4   7  28         5.6
21 21      B      1   5  10   7   7  30         6.0
22 22      C      6   7   5   2   4  24         4.8
23 23      C     10   9   7   8   8  42         8.4
24 24      B      4   1   5   4   3  17         3.4
25 25      C      5  10   5   4   6  30         6.0
26 26      B      4   6   3   5   3  21         4.2
27 27      A      8   8  10   6  10  42         8.4
28 28      C     10   7   3   6   6  32         6.4
29 29      C      9   1   5   5   9  29         5.8
30 30      C      8  10   6   4   5  33         6.6

 <h4 style="color:green;text-align:center">Exercise 5</h4>

In [126]:
install.packages("nycflights13")
library(nycflights13)

Installing package into ‘/home/jrana/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [127]:
df<-flights

+ Load the libraries tidyverse and nycflight13 and inspect the vari-
  able of flights.

In [55]:
df %>% slice(1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [56]:
dim(df)

[1] 336776     19

In [57]:
names(df)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

## check for null values

In [58]:
colSums(is.na(df))

          year          month            day       dep_time sched_dep_time
             0              0              0           8255              0
     dep_delay       arr_time sched_arr_time      arr_delay        carrier
          8255           8713              0           9430              0
        flight        tailnum         origin           dest       air_time
             0           2512              0              0           9430
      distance           hour         minute      time_hour
             0              0              0              0

In [59]:
sum(is.na(df$year))

[1] 0

In [60]:
sum(is.na(df$air_time))

[1] 9430

In [61]:
print(str(df))

tibble [336,776 × 19] (S3: tbl_df/tbl/data.frame)
 $ year          : int [1:336776] 2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int [1:336776] 517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int [1:336776] 515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : num [1:336776] 2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int [1:336776] 830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int [1:336776] 819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : num [1:336776] 11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr [1:336776] "UA" "UA" "AA" "B6" ...
 $ flight        : int [1:336776] 1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr [1:336776] "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr [1:336776] "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr [1:336776] "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : num [1:336776] 227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : num [1:336776] 1400 1416 1089 1576 762 ...
 $ hour          : num [1:336776] 5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : num [1:336776] 15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : POSIXct[1:336776], format: "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...
NULL

In [62]:
df$carrier %>% table() %>% as_tibble()

   .  n
1  9E 18460
2  AA 32729
3  AS   714
4  B6 54635
5  DL 48110
6  EV 54173
7  F9   685
8  FL  3260
9  HA   342
10 MQ 26397
11 OO    32
12 UA 58665
13 US 20536
14 VX  5162
15 WN 12275
16 YV   601

+ Find all flights with more than 2 hours arrival delay.

In [63]:
df$arr_delay[df$arr_delay>2*60] %>% as_tibble()

      value
1     137
2     851
3     123
4     145
5     127
6     125
7      NA
8      NA
9     136
10    123
11    123
12     NA
13    138
14     NA
15    338
16    263
17    127
18    151
19    166
20     NA
21    174
22     NA
23    222
24    123
25     NA
26    250
27    142
28    246
29    127
30    191
⋮     ⋮
19435  NA
19436  NA
19437 134
19438 137
19439 208
19440  NA
19441 236
19442 181
19443 141
19444 124
19445 183
19446  NA
19447  NA
19448  NA
19449  NA
19450 131
19451 129
19452 272
19453 137
19454 121
19455 174
19456 136
19457 194
19458 130
19459  NA
19460  NA
19461  NA
19462  NA
19463  NA
19464  NA

In [64]:
df %>% filter(arr_delay>2*60) %>% slice(1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1    811      630           101       1047      830
2  2013 1     1    848     1835           853       1001     1950
3  2013 1     1    957      733           144       1056      853
4  2013 1     1   1114      900           134       1447     1222
5  2013 1     1   1505     1310           115       1638     1431
6  2013 1     1   1525     1340           105       1831     1626
7  2013 1     1   1549     1445            64       1912     1656
8  2013 1     1   1558     1359           119       1718     1515
9  2013 1     1   1732     1630            62       2028     1825
10 2013 1     1   1803     1620           103       2008     1750
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  137       MQ      4576   N531MQ  LGA    CLT  118       544      6   30
2  851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
3  123       UA       856   N534UA  EWR    BOS   37       200      7   33
4  145       UA      1086   N76502  LGA    IAH  248      1416      9    0
5  127       EV      4497   N17984  EWR    RIC   63       277     13   10
6  125       B6       525   N231JB  EWR    MCO  152       937     13   40
7  136       EV      4181   N21197  EWR    MCI  234      1092     14   45
8  123       EV      5712   N826AS  JFK    IAD   53       228     13   59
9  123       EV      4092   N16911  EWR    DAY  119       533     16   30
10 138       MQ      4622   N504MQ  LGA    BNA  154       764     16   20
   time_hour
1  2013-01-01 06:00:00
2  2013-01-01 18:00:00
3  2013-01-01 07:00:00
4  2013-01-01 09:00:00
5  2013-01-01 13:00:00
6  2013-01-01 13:00:00
7  2013-01-01 14:00:00
8  2013-01-01 13:00:00
9  2013-01-01 16:00:00
10 2013-01-01 16:00:00

+ Find all flights with more tahn 2 hours arrival delay and no de-
  parture delay.

In [65]:
df %>% filter(arr_delay>2*60 & dep_delay<=0) %>% slice(1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  1    27  1419     1420           -1        1754     1550
2  2013 10     7  1350     1350            0        1736     1526
3  2013 10     7  1357     1359           -2        1858     1654
4  2013 10    16   657      700           -3        1258     1056
5  2013 11     1   658      700           -2        1329     1015
6  2013  3    18  1844     1847           -3          39     2219
7  2013  4    17  1635     1640           -5        2049     1845
8  2013  4    18   558      600           -2        1149      850
9  2013  4    18   655      700           -5        1213      950
10 2013  5    22  1827     1830           -3        2217     2010
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  124       MQ      3728   N1EAMQ  EWR    ORD  135       719     14   20
2  130       EV      5181   N611QX  LGA    MSN  117       812     13   50
3  124       AA      1151   N3CMAA  LGA    DFW  192      1389     13   59
4  122       B6         3   N703JB  JFK    SJU  225      1598      7    0
5  194       VX       399   N629VA  JFK    LAX  336      2475      7    0
6  140       UA       389   N560UA  JFK    SFO  386      2586     18   47
7  124       MQ      4540   N721MQ  LGA    DTW  130       502     16   40
8  179       AA       707   N3EXAA  LGA    DFW  234      1389      6    0
9  143       AA      2083   N565AA  EWR    DFW  230      1372      7    0
10 127       MQ      4674   N518MQ  LGA    CLE   90       419     18   30
   time_hour
1  2013-01-27 14:00:00
2  2013-10-07 13:00:00
3  2013-10-07 13:00:00
4  2013-10-16 07:00:00
5  2013-11-01 07:00:00
6  2013-03-18 18:00:00
7  2013-04-17 16:00:00
8  2013-04-18 06:00:00
9  2013-04-18 07:00:00
10 2013-05-22 18:00:00

+ Find all flights from United, American and Delta with no arrival
   delay.

In [66]:
df$carrier  %>% unique()

 [1] "UA" "AA" "B6" "DL" "EV" "MQ" "US" "WN" "VX" "FL" "AS" "9E" "F9" "HA" "YV"
[16] "OO"

In [67]:
df %>% filter(carrier %in% c("AA","DL","UA") & dep_delay<=0) %>% 
                                            slice(1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   554      600            -6        812      837
2  2013 1     1   554      558            -4        740      728
3  2013 1     1   558      600            -2        753      745
4  2013 1     1   558      600            -2        924      917
5  2013 1     1   558      600            -2        923      937
6  2013 1     1   559      600            -1        941      910
7  2013 1     1   559      600            -1        854      902
8  2013 1     1   602      610            -8        812      820
9  2013 1     1   606      610            -4        858      910
10 2013 1     1   606      610            -4        837      845
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
2   12       UA      1696   N39463  EWR    ORD  150       719     5    58
3    8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
4    7       UA       194   N29129  JFK    LAX  345      2475     6     0
5  -14       UA      1124   N53441  EWR    SFO  361      2565     6     0
6   31       AA       707   N3DUAA  LGA    DFW  257      1389     6     0
7   -8       UA      1187   N76515  EWR    LAS  337      2227     6     0
8   -8       DL      1919   N971DL  LGA    MSP  170      1020     6    10
9  -12       AA      1895   N633AA  EWR    MIA  152      1085     6    10
10  -8       DL      1743   N3739P  JFK    ATL  128       760     6    10
   time_hour
1  2013-01-01 06:00:00
2  2013-01-01 05:00:00
3  2013-01-01 06:00:00
4  2013-01-01 06:00:00
5  2013-01-01 06:00:00
6  2013-01-01 06:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

+ Find all flights from United, American and Delta in the month May with more than 5 hours arrival delay sorted by carrier and
  flight number.

In [68]:
df$month %>% unique()

 [1]  1 10 11 12  2  3  4  5  6  7  8  9

In [69]:
df %>% filter(
    carrier %in% c("AA","DL","UA") &
    month==5 & 
    arr_delay>5*60) %>% arrange(carrier,flight) %>% slice(1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 5     19   713     1700           853       1007     1955
2  2013 5     23  2246     1500           466         13     1645
3  2013 5      9  1839     1015           504       2123     1310
4  2013 5     16  2233     1340           533         59     1640
5  2013 5     23  2136     1545           351        113     1901
6  2013 5     17  2113     1259           494       2345     1530
7  2013 5     19   241     2000           401        355     2130
8  2013 5     25  1825     1159           386       2100     1454
9  2013 5     23  2042     1625           257       2340     1835
10 2013 5     18  1809     1200           369       2034     1432
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  852       AA       257   N3HEAA  JFK    LAS  323      2248     17    0
2  448       AA       341   N424AA  LGA    ORD  121       733     15    0
3  493       AA       731   N3BEAA  LGA    DFW  197      1389     10   15
4  499       AA       753   N3ERAA  LGA    DFW  184      1389     13   40
5  372       DL       141   N371NW  JFK    FLL  152      1069     15   45
6  495       DL       781   N960DL  LGA    ATL   93       762     12   59
7  385       DL       985   N326US  JFK    BOS   35       187     20    0
8  366       DL      1174   N900DE  LGA    PBI  127      1035     11   59
9  305       DL      1619   N377NW  LGA    MSP  143      1020     16   25
10 362       DL      1947   N963DL  LGA    ATL  104       762     12    0
   time_hour
1  2013-05-19 17:00:00
2  2013-05-23 15:00:00
3  2013-05-09 10:00:00
4  2013-05-16 13:00:00
5  2013-05-23 15:00:00
6  2013-05-17 12:00:00
7  2013-05-19 20:00:00
8  2013-05-25 11:00:00
9  2013-05-23 16:00:00
10 2013-05-18 12:00:00

+ Add a column speed which denotes the average speed of the flight
   and determine the carrier, flight of the top 10 values of speed.

In [70]:
df %>% mutate(speed=distance/air_time*60) %>%
        arrange(desc(speed)) %>% unique()  %>% top_n(n = 10,speed)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  5    25  1709     1700             9       1923     1937
2  2013  7     2  1558     1513            45       1745     1719
3  2013  5    13  2040     2025            15       2225     2226
4  2013  3    23  1914     1910             4       2045     2043
5  2013  1    12  1559     1600            -1       1849     1917
6  2013 11    17   650      655            -5       1059     1150
7  2013  2    21  2355     2358            -3        412      438
8  2013 11    17   759      800            -1       1212     1255
9  2013 11    16  2003     1925            38         17       36
10 2013 11    16  2349     2359           -10        402      440
11 2013 11    17   851      855            -4       1307     1345
12 2013 11    17  1926     1925             1          7       39
13 2013 12     5  1858     1900            -2       2313     2359
14 2013  2    10  1658     1700            -2       2125     2204
15 2013  2    10  1958     1855            63         31     2355
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -14       DL      1499   N666DN  LGA    ATL   65       762     17    0
2   26       EV      4667   N17196  EWR    MSP   93      1008     15   13
3   -1       EV      4292   N14568  EWR    GSP   55       594     20   25
4    2       EV      3805   N12567  EWR    BNA   70       748     19   10
5  -28       DL      1902   N956DL  LGA    PBI  105      1035     16    0
6  -51       DL       315   N3768   JFK    SJU  170      1598      6   55
7  -26       B6       707   N779JB  JFK    SJU  172      1598     23   58
8  -43       AA       936   N5FFAA  JFK    STT  175      1623      8    0
9  -19       DL       347   N3773D  JFK    SJU  173      1598     19   25
10 -38       B6      1503   N571JB  JFK    SJU  173      1598     23   59
11 -38       DL       301   N624AG  JFK    SJU  173      1598      8   55
12 -32       DL       347   N382DA  JFK    SJU  173      1598     19   25
13 -46       AA      1029   N617AA  JFK    SJU  173      1598     19    0
14 -39       DL       329   N371DA  JFK    SJU  173      1598     17    0
15  36       AA      1613   N625AA  JFK    SJU  173      1598     18   55
   time_hour           speed
1  2013-05-25 17:00:00 703.3846
2  2013-07-02 15:00:00 650.3226
3  2013-05-13 20:00:00 648.0000
4  2013-03-23 19:00:00 641.1429
5  2013-01-12 16:00:00 591.4286
6  2013-11-17 06:00:00 564.0000
7  2013-02-21 23:00:00 557.4419
8  2013-11-17 08:00:00 556.4571
9  2013-11-16 19:00:00 554.2197
10 2013-11-16 23:00:00 554.2197
11 2013-11-17 08:00:00 554.2197
12 2013-11-17 19:00:00 554.2197
13 2013-12-05 19:00:00 554.2197
14 2013-02-10 17:00:00 554.2197
15 2013-02-10 18:00:00 554.2197

+ Find a list of carriers with a column ratio which denotes the number of flights with arr delay less than 10 minutes to the total
    number of flights. The list should be sorted by ratio.

In [138]:
df %>% filter(!is.na(arr_delay)) %>% ## remove null values
       mutate(bool_del=if_else(arr_delay<10,1,0)) %>% ## create new col
       group_by(month,carrier) %>%  ## group by month, carrier
       mutate(
          nof=n(),
          ndel=sum(bool_del),
          del_ratio=ndel/nof 
       ) %>%
       group_by(month)%>%
       filter(del_ratio==max(del_ratio)) %>%
       unique() %>%
       arrange(month) ->y

In [137]:
df %>% filter(!is.na(arr_delay)) %>% ## remove null values
       mutate(bool_del=if_else(arr_delay<10,1,0)) %>% ## create new col
       group_by(month,carrier) %>%  ## group by month, carrier
       mutate(
          nof=n(),
          ndel=sum(bool_del),
          del_ratio=ndel/nof 
       ) %>%
      # group_by(month)%>%
       filter(del_ratio==max(del_ratio)) %>%
       unique() %>%
       arrange(month)->x

In [142]:
x %>% slice(1:3)

    year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1   2013 1     1    810      810             0       1048     1037
2   2013 1     1   1451     1500            -9       1634     1636
3   2013 1     1   1452     1455            -3       1637     1639
4   2013 1     1    542      540             2        923      850
5   2013 1     1    558      600            -2        753      745
6   2013 1     1    559      600            -1        941      910
7   2013 1     1    724      725            -1       1020     1030
8   2013 1     1   1808     1815            -7       2111     2130
9   2013 1     2    722      725            -3        949     1030
10  2013 1     1    544      545            -1       1004     1022
11  2013 1     1    555      600            -5        913      854
12  2013 1     1    557      600            -3        838      846
13  2013 1     1    554      600            -6        812      837
14  2013 1     1    602      610            -8        812      820
15  2013 1     1    606      610            -4        837      845
16  2013 1     1    557      600            -3        709      723
17  2013 1     1    624      630            -6        909      840
18  2013 1     1    632      608            24        740      728
19  2013 1     1    833      835            -2       1134     1102
20  2013 1     1   1716     1730           -14       1947     1953
21  2013 1     2    827      835            -8       1120     1102
22  2013 1     1    717      720            -3        850      840
23  2013 1     1    814      810             4       1047     1030
24  2013 1     1   1021     1023            -2       1254     1252
25  2013 1     1    857      900            -3       1516     1530
26  2013 1     2    909      900             9       1525     1530
27  2013 1     3    914      900            14       1504     1530
28  2013 1     1    600      600             0        837      825
29  2013 1     1    602      605            -3        821      805
30  2013 1     1    608      600             8        807      735
⋮   ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
523 2013 12    1    541      545            -4        734      755
524 2013 12    1    554      601            -7        748      811
525 2013 12    1    554      600            -6        712      719
526 2013 12    1    822      830            -8       1044     1059
527 2013 12    1   1729     1729             0       2000     1953
528 2013 12    2    827      830            -3       1056     1059
529 2013 12    1    916      925            -9       1148     1153
530 2013 12    1    958      950             8       1131     1123
531 2013 12    1   1220     1156            24       1502     1424
532 2013 12    1    928      930            -2       1532     1535
533 2013 12    2    920      930           -10       1525     1535
534 2013 12    4    933      930             3       1519     1535
535 2013 12    1    739      745            -6       1015     1040
536 2013 12    1    759      805            -6        944      945
537 2013 12    1    816      825            -9        952     1005
538 2013 12    1    520      515             5        749      808
539 2013 12    1    546      545             1        826      835
540 2013 12    1    558      600            -2        724      743
541 2013 12    1    453      500            -7        636      651
542 2013 12    1    549      600           -11        648      659
543 2013 12    1    554      600            -6        645      705
544 2013 12    1    656      700            -4       1005     1025
545 2013 12    1    724      730            -6       1021     1105
546 2013 12    1    726      730            -4       1038     1110
547 2013 12    1    558      600            -2        718      725
548 2013 12    1    603      605            -2        731      735
549 2013 12    1    613      615            -2        912      930
550 2013 12    1   1659     1646            13       1850     1810
551 2013 12    2   1146     1148            -2       1335     1404
552 2013 12    2   1724     1646            38       1845     1810
    arr_delay carrier ⋯ dest air_time distance hour minute time_hour
1    11       9E      ⋯ MSP  189      1029      8   10     2013-01-01 08:00:00
2    -2       9E      ⋯ IAD   57       228     15    0     2013-01-01 15:00:00
3    -2       9E      ⋯ BUF   68       301     14   55     2013-01-01 14:00:00
4    33       AA      ⋯ MIA  160      1089      5   40     2013-01-01 05:00:00
5     8       AA      ⋯ ORD  138       733      6    0     2013-01-01 06:00:00
6    31       AA      ⋯ DFW  257      1389      6    0     2013-01-01 06:00:00
7   -10       AS      ⋯ SEA  338      2402      7   25     2013-01-01 07:00:00
8   -19       AS      ⋯ SEA  336      2402     18   15     2013-01-01 18:00:00
9   -41       AS      ⋯ SEA  314      2402      7   25     2013-01-02 07:00:00
10  -18       B6      ⋯ BQN  183      1576      5   45     2013-01-01 05:00:00
11   19       B6      ⋯ FLL  158      1065      6    0     2013-01-01 06:00:00
12   -8       B6      ⋯ MCO  140       944      6    0     2013-01-01 06:00:00
13  -25       DL      ⋯ ATL  116       762      6    0     2013-01-01 06:00:00
14   -8       DL      ⋯ MSP  170      1020      6   10     2013-01-01 06:00:00
15   -8       DL      ⋯ ATL  128       760      6   10     2013-01-01 06:00:00
16  -14       EV      ⋯ IAD   53       229      6    0     2013-01-01 06:00:00
17   29       EV      ⋯ MSP  190      1008      6   30     2013-01-01 06:00:00
18   12       EV      ⋯ IAD   52       212      6    8     2013-01-01 06:00:00
19   32       F9      ⋯ DEN  257      1620      8   35     2013-01-01 08:00:00
20   -6       F9      ⋯ DEN  242      1620     17   30     2013-01-01 17:00:00
21   18       F9      ⋯ DEN  239      1620      8   35     2013-01-02 08:00:00
22   10       FL      ⋯ MKE  134       738      7   20     2013-01-01 07:00:00
23   17       FL      ⋯ ATL  132       762      8   10     2013-01-01 08:00:00
24    2       FL      ⋯ ATL  129       762     10   23     2013-01-01 10:00:00
25  -14       HA      ⋯ HNL  659      4983      9    0     2013-01-01 09:00:00
26   -5       HA      ⋯ HNL  638      4983      9    0     2013-01-02 09:00:00
27  -26       HA      ⋯ HNL  616      4983      9    0     2013-01-03 09:00:00
28   12       MQ      ⋯ ATL  134       762      6    0     2013-01-01 06:00:00
29   16       MQ      ⋯ DTW  105       502      6    5     2013-01-01 06:00:00
30   32       MQ      ⋯ ORD  139       719      6    0     2013-01-01 06:00:00
⋮   ⋮         ⋮       ⋱ ⋮    ⋮        ⋮        ⋮    ⋮      ⋮
523 -21       EV      ⋯ CVG   95       569      5   45     2013-12-01 05:00:00
524 -23       EV      ⋯ CLT   86       529      6    1     2013-12-01 06:00:00
525  -7       EV      ⋯ IAD   44       229      6    0     2013-12-01 06:00:00
526 -15       F9      ⋯ DEN  236      1620      8   30     2013-12-01 08:00:00
527   7       F9      ⋯ DEN  229      1620     17   29     2013-12-01 17:00:00
528  -3       F9      ⋯ DEN  236      1620      8   30     2013-12-02 08:00:00
529  -5       FL      ⋯ ATL  116       762      9   25     2013-12-01 09:00:00
530   8       FL      ⋯ CAK   63       397      9   50     2013-12-01 09:00:00
531  38       FL      ⋯ ATL  117       762     11   56     2013-12-01 11:00:00
532  -3       HA      ⋯ HNL  625      4983      9   30     2013-12-01 09:00:00
533 -10       HA      ⋯ HNL  640      4983      9   30     2013-12-02 09:00:00
534 -16       HA      ⋯ HNL  628      4983      9   30     2013-12-04 09:00:00
535 -25       MQ      ⋯ TPA  138      1005      7   45     2013-12-01 07:00:00
536  -1       MQ      ⋯ RDU   71       431      8    5     2013-12-01 08:00:00
537 -13       MQ      ⋯ CLE   70       419      8   25     2013-12-01 08:00:00
538 -19       UA      ⋯ IAH  193      1400      5   15     2013-12-01 05:00:00
539  -9       UA      ⋯ IAH  204      1416      5   45     2013-12-01 05:00:00
540 -19       UA      ⋯ CLE   62       404      6    0     2013-12-01 06:00:00
541 -15       US      ⋯ CLT   86       529      5    0     2013-12-01 05:00:00
542 -11       US      ⋯ DCA   42       214      6    0     2013-12-01 06:00:00
543 -20       US      ⋯ PHL   36        96      6    0     2013-12-01 06:00:00
544 -20       VX      ⋯ LAX  338      2475      7    0     2013-12-01 07:00:00
545 -44       VX      ⋯ SFO  343      2565      7   30     2013-12-01 07:00:00
546 -32       VX      ⋯ SFO  350      2586      7   30     2013-12-01 07:00:00
547  -7       WN      ⋯ MDW  109       711      6    0     2013-12-01 06:00:00
548  -4       WN      ⋯ MDW  106       725      6    5     2013-12-01 06:00:00
549 -18       WN      ⋯ HOU  206      1411      6   15     2013-12-01 06:00:00
550  40       YV      ⋯ IAD   83       229     16   46     2013-12-01 16:00:00
551 -29       YV      ⋯ CLT   86       544     11   48     2013-12-02 11:00:00
552  35       YV      ⋯ IAD   50       229     16   46     2013-12-02 16:00:00
    bool_del nof  ndel del_ratio
1   0        1480 1042 0.7040541
2   1        1480 1042 0.7040541
3   1        1480 1042 0.7040541
4   0        2724 2053 0.7536711
5   1        2724 2053 0.7536711
6   0        2724 2053 0.7536711
7   1          62   36 0.5806452
8   1          62   36 0.5806452
9   1          62   36 0.5806452
10  1        4413 3175 0.7194652
11  0        4413 3175 0.7194652
12  1        4413 3175 0.7194652
13  1        3655 3024 0.8273598
14  1        3655 3024 0.8273598
15  1        3655 3024 0.8273598
16  1        3964 2127 0.5365792
17  0        3964 2127 0.5365792
18  0        3964 2127 0.5365792
19  0          59   28 0.4745763
20  1          59   28 0.4745763
21  0          59   28 0.4745763
22  0         324  244 0.7530864
23  0         324  244 0.7530864
24  1         324  244 0.7530864
25  1          31   26 0.8387097
26  1          31   26 0.8387097
27  1          31   26 0.8387097
28  0        2203 1543 0.7004085
29  0        2203 1543 0.7004085
30  0        2203 1543 0.7004085
⋮   ⋮        ⋮    ⋮    ⋮
523 1        3891 2074 0.5330249
524 1        3891 2074 0.5330249
525 1        3891 2074 0.5330249
526 1          61   31 0.5081967
527 1          61   31 0.5081967
528 1          61   31 0.5081967
529 1         208   95 0.4567308
530 1         208   95 0.4567308
531 0         208   95 0.4567308
532 1          28   24 0.8571429
533 1          28   24 0.8571429
534 1          28   24 0.8571429
535 1        1988 1194 0.6006036
536 1        1988 1194 0.6006036
537 1        1988 1194 0.6006036
538 1        4819 2787 0.5783358
539 1        4819 2787 0.5783358
540 1        4819 2787 0.5783358
541 1        1539 1121 0.7283951
542 1        1539 1121 0.7283951
543 1        1539 1121 0.7283951
544 1         462  297 0.6428571
545 1         462  297 0.6428571
546 1         462  297 0.6428571
547 1        1074  526 0.4897579
548 1        1074  526 0.4897579
549 1        1074  526 0.4897579
550 0          43   27 0.6279070
551 1          43   27 0.6279070
552 0          43   27 0.6279070

In [141]:
y %>% slice(1:5)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  1    1    658      700            -2       1027     1025
2  2013  1    1    729      730            -1       1049     1115
3  2013  1    1    859      900            -1       1223     1225
4  2013  1    1    932      930             2       1219     1225
5  2013  1    1   1031     1030             1       1353     1415
6  2013  2    1    855      900            -5       1442     1540
7  2013  2    2    858      900            -2       1440     1540
8  2013  2    3    857      900            -3       1446     1540
9  2013  2    4    857      900            -3       1521     1540
10 2013  2    5    900      900             0       1555     1540
11 2013  3    1    716      710             6        958     1035
12 2013  3    1    739      730             9       1036     1110
13 2013  3    1    917      910             7       1150     1235
14 2013  3    1    946      935            11       1158     1230
15 2013  3    1   1039     1030             9       1342     1410
16 2013  4    1   1000     1000             0       1450     1510
17 2013  4    2    958     1000            -2       1457     1510
18 2013  4    3    957     1000            -3       1535     1510
19 2013  4    4   1006     1000             6       1502     1510
20 2013  4    5    954     1000            -6       1505     1510
21 2013  5    1   1000     1000             0       1430     1500
22 2013  5    2    953     1000            -7       1423     1500
23 2013  5    3   1001     1000             1       1424     1500
24 2013  5    4    958     1000            -2       1421     1500
25 2013  5    5   1000     1000             0       1436     1500
26 2013  6    1    720      725            -5        944     1015
27 2013  6    1   1805     1820           -15       2149     2133
28 2013  6    2    716      725            -9       1001     1015
29 2013  6    2   2145     1820           205         23     2133
30 2013  6    3    723      725            -2       1027     1015
31 2013  7    1    720      720             0        946     1022
32 2013  7    1   1939     1825            74       2204     2145
33 2013  7    2    715      720            -5        942     1022
34 2013  7    2   1820     1825            -5       2104     2145
35 2013  7    3    711      720            -9        938     1022
36 2013  8    1    715      720            -5       1010     1025
37 2013  8    1   1931     1825            66       2235     2147
38 2013  8    2    716      720            -4       1027     1025
39 2013  8    2   1831     1825             6       2139     2147
40 2013  8    3    706      720           -14       1024     1025
41 2013  9    1    714      720            -6        955     1025
42 2013  9    1   1831     1835            -4       2137     2158
43 2013  9    2    715      720            -5        952     1025
44 2013  9    2   1837     1835             2       2119     2158
45 2013  9    3    714      720            -6       1000     1025
46 2013 10    2    951     1000            -9       1438     1450
47 2013 10    4    954     1000            -6       1438     1450
48 2013 10    5   1002     1000             2       1418     1450
49 2013 10    6    958     1000            -2       1415     1450
50 2013 10    7    957     1000            -3       1504     1450
51 2013 11    1    714      720            -6       1008     1030
52 2013 11    1   2013     1835            98       2317     2148
53 2013 11    2    713      720            -7       1014     1030
54 2013 11    2   1829     1835            -6       2137     2148
55 2013 11    3    716      720            -4       1007     1030
56 2013 12    1    928      930            -2       1532     1535
57 2013 12    2    920      930           -10       1525     1535
58 2013 12    4    933      930             3       1519     1535
59 2013 12    5    920      930           -10       1609     1535
60 2013 12    6    924      930            -6       1545     1535
   arr_delay carrier ⋯ dest air_time distance hour minute time_hour
1    2       VX      ⋯ LAX  361      2475      7    0     2013-01-01 07:00:00
2  -26       VX      ⋯ SFO  356      2586      7   30     2013-01-01 07:00:00
3   -2       VX      ⋯ LAX  359      2475      9    0     2013-01-01 09:00:00
4   -6       VX      ⋯ LAS  324      2248      9   30     2013-01-01 09:00:00
5  -22       VX      ⋯ SFO  363      2586     10   30     2013-01-01 10:00:00
6  -58       HA      ⋯ HNL  620      4983      9    0     2013-02-01 09:00:00
7  -60       HA      ⋯ HNL  629      4983      9    0     2013-02-02 09:00:00
8  -54       HA      ⋯ HNL  614      4983      9    0     2013-02-03 09:00:00
9  -19       HA      ⋯ HNL  655      4983      9    0     2013-02-04 09:00:00
10  15       HA      ⋯ HNL  679      4983      9    0     2013-02-05 09:00:00
11 -37       VX      ⋯ LAX  315      2475      7   10     2013-03-01 07:00:00
12 -34       VX      ⋯ SFO  338      2586      7   30     2013-03-01 07:00:00
13 -45       VX      ⋯ LAX  309      2475      9   10     2013-03-01 09:00:00
14 -32       VX      ⋯ LAS  290      2248      9   35     2013-03-01 09:00:00
15 -28       VX      ⋯ SFO  341      2586     10   30     2013-03-01 10:00:00
16 -20       HA      ⋯ HNL  633      4983     10    0     2013-04-01 10:00:00
17 -13       HA      ⋯ HNL  637      4983     10    0     2013-04-02 10:00:00
18  25       HA      ⋯ HNL  671      4983     10    0     2013-04-03 10:00:00
19  -8       HA      ⋯ HNL  636      4983     10    0     2013-04-04 10:00:00
20  -5       HA      ⋯ HNL  646      4983     10    0     2013-04-05 10:00:00
21 -30       HA      ⋯ HNL  607      4983     10    0     2013-05-01 10:00:00
22 -37       HA      ⋯ HNL  603      4983     10    0     2013-05-02 10:00:00
23 -36       HA      ⋯ HNL  600      4983     10    0     2013-05-03 10:00:00
24 -39       HA      ⋯ HNL  595      4983     10    0     2013-05-04 10:00:00
25 -24       HA      ⋯ HNL  607      4983     10    0     2013-05-05 10:00:00
26 -31       AS      ⋯ SEA  312      2402      7   25     2013-06-01 07:00:00
27  16       AS      ⋯ SEA  357      2402     18   20     2013-06-01 18:00:00
28 -14       AS      ⋯ SEA  329      2402      7   25     2013-06-02 07:00:00
29 170       AS      ⋯ SEA  324      2402     18   20     2013-06-02 18:00:00
30  12       AS      ⋯ SEA  331      2402      7   25     2013-06-03 07:00:00
31 -36       AS      ⋯ SEA  306      2402      7   20     2013-07-01 07:00:00
32  19       AS      ⋯ SEA  302      2402     18   25     2013-07-01 18:00:00
33 -40       AS      ⋯ SEA  301      2402      7   20     2013-07-02 07:00:00
34 -41       AS      ⋯ SEA  311      2402     18   25     2013-07-02 18:00:00
35 -44       AS      ⋯ SEA  303      2402      7   20     2013-07-03 07:00:00
36 -15       AS      ⋯ SEA  329      2402      7   20     2013-08-01 07:00:00
37  48       AS      ⋯ SEA  331      2402     18   25     2013-08-01 18:00:00
38   2       AS      ⋯ SEA  342      2402      7   20     2013-08-02 07:00:00
39  -8       AS      ⋯ SEA  335      2402     18   25     2013-08-02 18:00:00
40  -1       AS      ⋯ SEA  351      2402      7   20     2013-08-03 07:00:00
41 -30       AS      ⋯ SEA  325      2402      7   20     2013-09-01 07:00:00
42 -21       AS      ⋯ SEA  328      2402     18   35     2013-09-01 18:00:00
43 -33       AS      ⋯ SEA  322      2402      7   20     2013-09-02 07:00:00
44 -39       AS      ⋯ SEA  322      2402     18   35     2013-09-02 18:00:00
45 -25       AS      ⋯ SEA  321      2402      7   20     2013-09-03 07:00:00
46 -12       HA      ⋯ HNL  623      4983     10    0     2013-10-02 10:00:00
47 -12       HA      ⋯ HNL  618      4983     10    0     2013-10-04 10:00:00
48 -32       HA      ⋯ HNL  593      4983     10    0     2013-10-05 10:00:00
49 -35       HA      ⋯ HNL  601      4983     10    0     2013-10-06 10:00:00
50  14       HA      ⋯ HNL  642      4983     10    0     2013-10-07 10:00:00
51 -22       AS      ⋯ SEA  331      2402      7   20     2013-11-01 07:00:00
52  89       AS      ⋯ SEA  333      2402     18   35     2013-11-01 18:00:00
53 -16       AS      ⋯ SEA  335      2402      7   20     2013-11-02 07:00:00
54 -11       AS      ⋯ SEA  332      2402     18   35     2013-11-02 18:00:00
55 -23       AS      ⋯ SEA  327      2402      7   20     2013-11-03 07:00:00
56  -3       HA      ⋯ HNL  625      4983      9   30     2013-12-01 09:00:00
57 -10       HA      ⋯ HNL  640      4983      9   30     2013-12-02 09:00:00
58 -16       HA      ⋯ HNL  628      4983      9   30     2013-12-04 09:00:00
59  34       HA      ⋯ HNL  659      4983      9   30     2013-12-05 09:00:00
60  10       HA      ⋯ HNL  660      4983      9   30     2013-12-06 09:00:00
   bool_del nof ndel del_ratio
1  1        314 290  0.9235669
2  1        314 290  0.9235669
3  1        314 290  0.9235669
4  1        314 290  0.9235669
5  1        314 290  0.9235669
6  1         28  25  0.8928571
7  1         28  25  0.8928571
8  1         28  25  0.8928571
9  1         28  25  0.8928571
10 0         28  25  0.8928571
11 1        303 257  0.8481848
12 1        303 257  0.8481848
13 1        303 257  0.8481848
14 1        303 257  0.8481848
15 1        303 257  0.8481848
16 1         30  26  0.8666667
17 1         30  26  0.8666667
18 0         30  26  0.8666667
19 1         30  26  0.8666667
20 1         30  26  0.8666667
21 1         31  29  0.9354839
22 1         31  29  0.9354839
23 1         31  29  0.9354839
24 1         31  29  0.9354839
25 1         31  29  0.9354839
26 1         60  47  0.7833333
27 0         60  47  0.7833333
28 1         60  47  0.7833333
29 0         60  47  0.7833333
30 0         60  47  0.7833333
31 1         62  51  0.8225806
32 0         62  51  0.8225806
33 1         62  51  0.8225806
34 1         62  51  0.8225806
35 1         62  51  0.8225806
36 1         62  56  0.9032258
37 0         62  56  0.9032258
38 1         62  56  0.9032258
39 1         62  56  0.9032258
40 1         62  56  0.9032258
41 1         60  58  0.9666667
42 1         60  58  0.9666667
43 1         60  58  0.9666667
44 1         60  58  0.9666667
45 1         60  58  0.9666667
46 1         21  20  0.9523810
47 1         21  20  0.9523810
48 1         21  20  0.9523810
49 1         21  20  0.9523810
50 0         21  20  0.9523810
51 1         52  45  0.8653846
52 0         52  45  0.8653846
53 1         52  45  0.8653846
54 1         52  45  0.8653846
55 1         52  45  0.8653846
56 1         28  24  0.8571429
57 1         28  24  0.8571429
58 1         28  24  0.8571429
59 0         28  24  0.8571429
60 0         28  24  0.8571429

 <h4 style="color:green;text-align:center">Exercise 6</h4>

### Applications of <code>gather()</code>, <code>spread()</code> and <code>separate()</code>

## import the dataset <code>who</code>

In [2]:
install.packages("tidyr")

Installing package into ‘/home/jrana/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [3]:
library("tidyr")

In [5]:
install.packages("dplyr")

Installing package into ‘/home/jrana/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [6]:
library("dplyr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [7]:
df<-who
df %>% slice(1:10)

   country     iso2 iso3 year new_sp_m014 new_sp_m1524 new_sp_m2534
1  Afghanistan AF   AFG  1980 NA          NA           NA
2  Afghanistan AF   AFG  1981 NA          NA           NA
3  Afghanistan AF   AFG  1982 NA          NA           NA
4  Afghanistan AF   AFG  1983 NA          NA           NA
5  Afghanistan AF   AFG  1984 NA          NA           NA
6  Afghanistan AF   AFG  1985 NA          NA           NA
7  Afghanistan AF   AFG  1986 NA          NA           NA
8  Afghanistan AF   AFG  1987 NA          NA           NA
9  Afghanistan AF   AFG  1988 NA          NA           NA
10 Afghanistan AF   AFG  1989 NA          NA           NA
   new_sp_m3544 new_sp_m4554 new_sp_m5564 ⋯ newrel_m4554 newrel_m5564
1  NA           NA           NA           ⋯ NA           NA
2  NA           NA           NA           ⋯ NA           NA
3  NA           NA           NA           ⋯ NA           NA
4  NA           NA           NA           ⋯ NA           NA
5  NA           NA           NA           ⋯ NA           NA
6  NA           NA           NA           ⋯ NA           NA
7  NA           NA           NA           ⋯ NA           NA
8  NA           NA           NA           ⋯ NA           NA
9  NA           NA           NA           ⋯ NA           NA
10 NA           NA           NA           ⋯ NA           NA
   newrel_m65 newrel_f014 newrel_f1524 newrel_f2534 newrel_f3544 newrel_f4554
1  NA         NA          NA           NA           NA           NA
2  NA         NA          NA           NA           NA           NA
3  NA         NA          NA           NA           NA           NA
4  NA         NA          NA           NA           NA           NA
5  NA         NA          NA           NA           NA           NA
6  NA         NA          NA           NA           NA           NA
7  NA         NA          NA           NA           NA           NA
8  NA         NA          NA           NA           NA           NA
9  NA         NA          NA           NA           NA           NA
10 NA         NA          NA           NA           NA           NA
   newrel_f5564 newrel_f65
1  NA           NA
2  NA           NA
3  NA           NA
4  NA           NA
5  NA           NA
6  NA           NA
7  NA           NA
8  NA           NA
9  NA           NA
10 NA           NA

In [8]:
df %>% names()

 [1] "country"      "iso2"         "iso3"         "year"         "new_sp_m014"
 [6] "new_sp_m1524" "new_sp_m2534" "new_sp_m3544" "new_sp_m4554" "new_sp_m5564"
[11] "new_sp_m65"   "new_sp_f014"  "new_sp_f1524" "new_sp_f2534" "new_sp_f3544"
[16] "new_sp_f4554" "new_sp_f5564" "new_sp_f65"   "new_sn_m014"  "new_sn_m1524"
[21] "new_sn_m2534" "new_sn_m3544" "new_sn_m4554" "new_sn_m5564" "new_sn_m65"
[26] "new_sn_f014"  "new_sn_f1524" "new_sn_f2534" "new_sn_f3544" "new_sn_f4554"
[31] "new_sn_f5564" "new_sn_f65"   "new_ep_m014"  "new_ep_m1524" "new_ep_m2534"
[36] "new_ep_m3544" "new_ep_m4554" "new_ep_m5564" "new_ep_m65"   "new_ep_f014"
[41] "new_ep_f1524" "new_ep_f2534" "new_ep_f3544" "new_ep_f4554" "new_ep_f5564"
[46] "new_ep_f65"   "newrel_m014"  "newrel_m1524" "newrel_m2534" "newrel_m3544"
[51] "newrel_m4554" "newrel_m5564" "newrel_m65"   "newrel_f014"  "newrel_f1524"
[56] "newrel_f2534" "newrel_f3544" "newrel_f4554" "newrel_f5564" "newrel_f65"

In [79]:
dim(df)

[1] 7240   60

In [80]:
str(df)

tibble [7,240 × 60] (S3: tbl_df/tbl/data.frame)
 $ country     : chr [1:7240] "Afghanistan" "Afghanistan" "Afghanistan" "Afghanistan" ...
 $ iso2        : chr [1:7240] "AF" "AF" "AF" "AF" ...
 $ iso3        : chr [1:7240] "AFG" "AFG" "AFG" "AFG" ...
 $ year        : num [1:7240] 1980 1981 1982 1983 1984 ...
 $ new_sp_m014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_m65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sp_f65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_m65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_sn_f65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_m65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ new_ep_f65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_m65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f014 : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f1524: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f2534: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f3544: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f4554: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f5564: num [1:7240] NA NA NA NA NA NA NA NA NA NA ...
 $ newrel_f65  : num [1:7240] NA NA NA NA NA NA NA NA NA NA ...

In [81]:
df %>% names()

 [1] "country"      "iso2"         "iso3"         "year"         "new_sp_m014"
 [6] "new_sp_m1524" "new_sp_m2534" "new_sp_m3544" "new_sp_m4554" "new_sp_m5564"
[11] "new_sp_m65"   "new_sp_f014"  "new_sp_f1524" "new_sp_f2534" "new_sp_f3544"
[16] "new_sp_f4554" "new_sp_f5564" "new_sp_f65"   "new_sn_m014"  "new_sn_m1524"
[21] "new_sn_m2534" "new_sn_m3544" "new_sn_m4554" "new_sn_m5564" "new_sn_m65"
[26] "new_sn_f014"  "new_sn_f1524" "new_sn_f2534" "new_sn_f3544" "new_sn_f4554"
[31] "new_sn_f5564" "new_sn_f65"   "new_ep_m014"  "new_ep_m1524" "new_ep_m2534"
[36] "new_ep_m3544" "new_ep_m4554" "new_ep_m5564" "new_ep_m65"   "new_ep_f014"
[41] "new_ep_f1524" "new_ep_f2534" "new_ep_f3544" "new_ep_f4554" "new_ep_f5564"
[46] "new_ep_f65"   "newrel_m014"  "newrel_m1524" "newrel_m2534" "newrel_m3544"
[51] "newrel_m4554" "newrel_m5564" "newrel_m65"   "newrel_f014"  "newrel_f1524"
[56] "newrel_f2534" "newrel_f3544" "newrel_f4554" "newrel_f5564" "newrel_f65"

Consider the dataset who of the package tidyr.
country, iso2, iso3, and year are already variables, so they can
be left as is. But the columns from new sp m014 to newrel f65
encode four variables in their names:
   + The new /new prefix indicates these are counts of new cases.
     This dataset only contains new cases, so we’ll ignore it here
     because it’s constant.
   +  sp/rel/ep describe how the case was diagnosed.
   + m/f gives the gender.
   + 014/1524/2535/3544/4554/65 supplies the age range.
Break these variables up by specifying multiple column names and
make the dataset tidy.

In [90]:
df %>% gather(new_sp_m014:newrel_f65,key="key",value = "value",
              na.rm=T) %>% slice(1:10)

   country     iso2 iso3 year key         value
1  Afghanistan AF   AFG  1997 new_sp_m014   0
2  Afghanistan AF   AFG  1998 new_sp_m014  30
3  Afghanistan AF   AFG  1999 new_sp_m014   8
4  Afghanistan AF   AFG  2000 new_sp_m014  52
5  Afghanistan AF   AFG  2001 new_sp_m014 129
6  Afghanistan AF   AFG  2002 new_sp_m014  90
7  Afghanistan AF   AFG  2003 new_sp_m014 127
8  Afghanistan AF   AFG  2004 new_sp_m014 139
9  Afghanistan AF   AFG  2005 new_sp_m014 151
10 Afghanistan AF   AFG  2006 new_sp_m014 193

In [89]:
dim(x)

[1] 76046     6

In [100]:
library(stringr)

In [102]:
df %>% gather(new_sp_m014:newrel_f65,key="key",value = "value",
              na.rm=T) %>% 
              mutate(key=str_replace(key,"newrel","new_rel"))

      country                                              iso2 iso3 year
1     Afghanistan                                          AF   AFG  1997
2     Afghanistan                                          AF   AFG  1998
3     Afghanistan                                          AF   AFG  1999
4     Afghanistan                                          AF   AFG  2000
5     Afghanistan                                          AF   AFG  2001
6     Afghanistan                                          AF   AFG  2002
7     Afghanistan                                          AF   AFG  2003
8     Afghanistan                                          AF   AFG  2004
9     Afghanistan                                          AF   AFG  2005
10    Afghanistan                                          AF   AFG  2006
11    Afghanistan                                          AF   AFG  2007
12    Afghanistan                                          AF   AFG  2008
13    Afghanistan                                          AF   AFG  2009
14    Afghanistan                                          AF   AFG  2010
15    Afghanistan                                          AF   AFG  2011
16    Afghanistan                                          AF   AFG  2012
17    Albania                                              AL   ALB  1995
18    Albania                                              AL   ALB  1997
19    Albania                                              AL   ALB  1998
20    Albania                                              AL   ALB  1999
21    Albania                                              AL   ALB  2000
22    Albania                                              AL   ALB  2001
23    Albania                                              AL   ALB  2002
24    Albania                                              AL   ALB  2003
25    Albania                                              AL   ALB  2004
26    Albania                                              AL   ALB  2005
27    Albania                                              AL   ALB  2006
28    Albania                                              AL   ALB  2007
29    Albania                                              AL   ALB  2008
30    Albania                                              AL   ALB  2009
⋮     ⋮                                                    ⋮    ⋮    ⋮
76017 Spain                                                ES   ESP  2013
76018 Sri Lanka                                            LK   LKA  2013
76019 Suriname                                             SR   SUR  2013
76020 Swaziland                                            SZ   SWZ  2013
76021 Sweden                                               SE   SWE  2013
76022 Switzerland                                          CH   CHE  2013
76023 Syrian Arab Republic                                 SY   SYR  2013
76024 Tajikistan                                           TJ   TJK  2013
76025 The Former Yugoslav Republic of Macedonia            MK   MKD  2013
76026 Togo                                                 TG   TGO  2013
76027 Tokelau                                              TK   TKL  2013
76028 Tonga                                                TO   TON  2013
76029 Trinidad and Tobago                                  TT   TTO  2013
76030 Tunisia                                              TN   TUN  2013
76031 Turkey                                               TR   TUR  2013
76032 Tuvalu                                               TV   TUV  2013
76033 Uganda                                               UG   UGA  2013
76034 Ukraine                                              UA   UKR  2013
76035 United Arab Emirates                                 AE   ARE  2013
76036 United Kingdom of Great Britain and Northern Ireland GB   GBR  2013
76037 United States of America                             US   USA  2013
76038 Uruguay                                              UY   URY  2013
76039 Uzbekistan                                           UZ   UZB  2013
76040 Vanuatu                                              VU   VUT  2013
76041 Venezuela (Bolivarian Republic of)                   VE   VEN  2013
76042 Viet Nam                                             VN   VNM  2013
76043 Wallis and Futuna Islands                            WF   WLF  2013
76044 Yemen                                                YE   YEM  2013
76045 Zambia                                               ZM   ZMB  2013
76046 Zimbabwe                                             ZW   ZWE  2013
      key         value
1     new_sp_m014   0
2     new_sp_m014  30
3     new_sp_m014   8
4     new_sp_m014  52
5     new_sp_m014 129
6     new_sp_m014  90
7     new_sp_m014 127
8     new_sp_m014 139
9     new_sp_m014 151
10    new_sp_m014 193
11    new_sp_m014 186
12    new_sp_m014 187
13    new_sp_m014 200
14    new_sp_m014 197
15    new_sp_m014 204
16    new_sp_m014 188
17    new_sp_m014   0
18    new_sp_m014   0
19    new_sp_m014   1
20    new_sp_m014   0
21    new_sp_m014   2
22    new_sp_m014   3
23    new_sp_m014   0
24    new_sp_m014   0
25    new_sp_m014   5
26    new_sp_m014   0
27    new_sp_m014   5
28    new_sp_m014   0
29    new_sp_m014   1
30    new_sp_m014   0
⋮     ⋮           ⋮
76017 new_rel_f65  427
76018 new_rel_f65  418
76019 new_rel_f65    1
76020 new_rel_f65  113
76021 new_rel_f65   30
76022 new_rel_f65   37
76023 new_rel_f65   80
76024 new_rel_f65  165
76025 new_rel_f65   20
76026 new_rel_f65   53
76027 new_rel_f65    0
76028 new_rel_f65    2
76029 new_rel_f65   10
76030 new_rel_f65  171
76031 new_rel_f65  960
76032 new_rel_f65    0
76033 new_rel_f65  341
76034 new_rel_f65 1241
76035 new_rel_f65    6
76036 new_rel_f65  462
76037 new_rel_f65  786
76038 new_rel_f65   35
76039 new_rel_f65 1120
76040 new_rel_f65    7
76041 new_rel_f65  402
76042 new_rel_f65 3110
76043 new_rel_f65    2
76044 new_rel_f65  360
76045 new_rel_f65  669
76046 new_rel_f65  725

In [103]:
df %>% gather(new_sp_m014:newrel_f65,key="key",value = "value",
        na.rm=T) %>% 
        mutate(key=str_replace(key,"newrel","new_rel")) %>%
        separate(col = key,into=c("new","type","sex/age"),sep="_")

      country                                              iso2 iso3 year new
1     Afghanistan                                          AF   AFG  1997 new
2     Afghanistan                                          AF   AFG  1998 new
3     Afghanistan                                          AF   AFG  1999 new
4     Afghanistan                                          AF   AFG  2000 new
5     Afghanistan                                          AF   AFG  2001 new
6     Afghanistan                                          AF   AFG  2002 new
7     Afghanistan                                          AF   AFG  2003 new
8     Afghanistan                                          AF   AFG  2004 new
9     Afghanistan                                          AF   AFG  2005 new
10    Afghanistan                                          AF   AFG  2006 new
11    Afghanistan                                          AF   AFG  2007 new
12    Afghanistan                                          AF   AFG  2008 new
13    Afghanistan                                          AF   AFG  2009 new
14    Afghanistan                                          AF   AFG  2010 new
15    Afghanistan                                          AF   AFG  2011 new
16    Afghanistan                                          AF   AFG  2012 new
17    Albania                                              AL   ALB  1995 new
18    Albania                                              AL   ALB  1997 new
19    Albania                                              AL   ALB  1998 new
20    Albania                                              AL   ALB  1999 new
21    Albania                                              AL   ALB  2000 new
22    Albania                                              AL   ALB  2001 new
23    Albania                                              AL   ALB  2002 new
24    Albania                                              AL   ALB  2003 new
25    Albania                                              AL   ALB  2004 new
26    Albania                                              AL   ALB  2005 new
27    Albania                                              AL   ALB  2006 new
28    Albania                                              AL   ALB  2007 new
29    Albania                                              AL   ALB  2008 new
30    Albania                                              AL   ALB  2009 new
⋮     ⋮                                                    ⋮    ⋮    ⋮    ⋮
76017 Spain                                                ES   ESP  2013 new
76018 Sri Lanka                                            LK   LKA  2013 new
76019 Suriname                                             SR   SUR  2013 new
76020 Swaziland                                            SZ   SWZ  2013 new
76021 Sweden                                               SE   SWE  2013 new
76022 Switzerland                                          CH   CHE  2013 new
76023 Syrian Arab Republic                                 SY   SYR  2013 new
76024 Tajikistan                                           TJ   TJK  2013 new
76025 The Former Yugoslav Republic of Macedonia            MK   MKD  2013 new
76026 Togo                                                 TG   TGO  2013 new
76027 Tokelau                                              TK   TKL  2013 new
76028 Tonga                                                TO   TON  2013 new
76029 Trinidad and Tobago                                  TT   TTO  2013 new
76030 Tunisia                                              TN   TUN  2013 new
76031 Turkey                                               TR   TUR  2013 new
76032 Tuvalu                                               TV   TUV  2013 new
76033 Uganda                                               UG   UGA  2013 new
76034 Ukraine                                              UA   UKR  2013 new
76035 United Arab Emirates                                 AE   ARE  2013 new
76036 United Kingdom of Great Britain and Northern Ireland GB   GBR  2013 new
76037 United States of America                             US   USA  2013 new
76038 Uruguay                                              UY   URY  2013 new
76039 Uzbekistan                                           UZ   UZB  2013 new
76040 Vanuatu                                              VU   VUT  2013 new
76041 Venezuela (Bolivarian Republic of)                   VE   VEN  2013 new
76042 Viet Nam                                             VN   VNM  2013 new
76043 Wallis and Futuna Islands                            WF   WLF  2013 new
76044 Yemen                                                YE   YEM  2013 new
76045 Zambia                                               ZM   ZMB  2013 new
76046 Zimbabwe                                             ZW   ZWE  2013 new
      type sex/age value
1     sp   m014      0
2     sp   m014     30
3     sp   m014      8
4     sp   m014     52
5     sp   m014    129
6     sp   m014     90
7     sp   m014    127
8     sp   m014    139
9     sp   m014    151
10    sp   m014    193
11    sp   m014    186
12    sp   m014    187
13    sp   m014    200
14    sp   m014    197
15    sp   m014    204
16    sp   m014    188
17    sp   m014      0
18    sp   m014      0
19    sp   m014      1
20    sp   m014      0
21    sp   m014      2
22    sp   m014      3
23    sp   m014      0
24    sp   m014      0
25    sp   m014      5
26    sp   m014      0
27    sp   m014      5
28    sp   m014      0
29    sp   m014      1
30    sp   m014      0
⋮     ⋮    ⋮       ⋮
76017 rel  f65      427
76018 rel  f65      418
76019 rel  f65        1
76020 rel  f65      113
76021 rel  f65       30
76022 rel  f65       37
76023 rel  f65       80
76024 rel  f65      165
76025 rel  f65       20
76026 rel  f65       53
76027 rel  f65        0
76028 rel  f65        2
76029 rel  f65       10
76030 rel  f65      171
76031 rel  f65      960
76032 rel  f65        0
76033 rel  f65      341
76034 rel  f65     1241
76035 rel  f65        6
76036 rel  f65      462
76037 rel  f65      786
76038 rel  f65       35
76039 rel  f65     1120
76040 rel  f65        7
76041 rel  f65      402
76042 rel  f65     3110
76043 rel  f65        2
76044 rel  f65      360
76045 rel  f65      669
76046 rel  f65      725

In [109]:
df %>% gather(new_sp_m014:newrel_f65,key="key",value = "value",
        na.rm=T) %>% 
        mutate(key=str_replace(key,"newrel","new_rel")) %>%
        separate(col = key,into=c("new","type","sexage"),sep="_")%>%
        separate(col=sexage,into=c("sex","age"),sep=1)

      country                                              iso2 iso3 year new
1     Afghanistan                                          AF   AFG  1997 new
2     Afghanistan                                          AF   AFG  1998 new
3     Afghanistan                                          AF   AFG  1999 new
4     Afghanistan                                          AF   AFG  2000 new
5     Afghanistan                                          AF   AFG  2001 new
6     Afghanistan                                          AF   AFG  2002 new
7     Afghanistan                                          AF   AFG  2003 new
8     Afghanistan                                          AF   AFG  2004 new
9     Afghanistan                                          AF   AFG  2005 new
10    Afghanistan                                          AF   AFG  2006 new
11    Afghanistan                                          AF   AFG  2007 new
12    Afghanistan                                          AF   AFG  2008 new
13    Afghanistan                                          AF   AFG  2009 new
14    Afghanistan                                          AF   AFG  2010 new
15    Afghanistan                                          AF   AFG  2011 new
16    Afghanistan                                          AF   AFG  2012 new
17    Albania                                              AL   ALB  1995 new
18    Albania                                              AL   ALB  1997 new
19    Albania                                              AL   ALB  1998 new
20    Albania                                              AL   ALB  1999 new
21    Albania                                              AL   ALB  2000 new
22    Albania                                              AL   ALB  2001 new
23    Albania                                              AL   ALB  2002 new
24    Albania                                              AL   ALB  2003 new
25    Albania                                              AL   ALB  2004 new
26    Albania                                              AL   ALB  2005 new
27    Albania                                              AL   ALB  2006 new
28    Albania                                              AL   ALB  2007 new
29    Albania                                              AL   ALB  2008 new
30    Albania                                              AL   ALB  2009 new
⋮     ⋮                                                    ⋮    ⋮    ⋮    ⋮
76017 Spain                                                ES   ESP  2013 new
76018 Sri Lanka                                            LK   LKA  2013 new
76019 Suriname                                             SR   SUR  2013 new
76020 Swaziland                                            SZ   SWZ  2013 new
76021 Sweden                                               SE   SWE  2013 new
76022 Switzerland                                          CH   CHE  2013 new
76023 Syrian Arab Republic                                 SY   SYR  2013 new
76024 Tajikistan                                           TJ   TJK  2013 new
76025 The Former Yugoslav Republic of Macedonia            MK   MKD  2013 new
76026 Togo                                                 TG   TGO  2013 new
76027 Tokelau                                              TK   TKL  2013 new
76028 Tonga                                                TO   TON  2013 new
76029 Trinidad and Tobago                                  TT   TTO  2013 new
76030 Tunisia                                              TN   TUN  2013 new
76031 Turkey                                               TR   TUR  2013 new
76032 Tuvalu                                               TV   TUV  2013 new
76033 Uganda                                               UG   UGA  2013 new
76034 Ukraine                                              UA   UKR  2013 new
76035 United Arab Emirates                                 AE   ARE  2013 new
76036 United Kingdom of Great Britain and Northern Ireland GB   GBR  2013 new
76037 United States of America                             US   USA  2013 new
76038 Uruguay                                              UY   URY  2013 new
76039 Uzbekistan                                           UZ   UZB  2013 new
76040 Vanuatu                                              VU   VUT  2013 new
76041 Venezuela (Bolivarian Republic of)                   VE   VEN  2013 new
76042 Viet Nam                                             VN   VNM  2013 new
76043 Wallis and Futuna Islands                            WF   WLF  2013 new
76044 Yemen                                                YE   YEM  2013 new
76045 Zambia                                               ZM   ZMB  2013 new
76046 Zimbabwe                                             ZW   ZWE  2013 new
      type sex age value
1     sp   m   014   0
2     sp   m   014  30
3     sp   m   014   8
4     sp   m   014  52
5     sp   m   014 129
6     sp   m   014  90
7     sp   m   014 127
8     sp   m   014 139
9     sp   m   014 151
10    sp   m   014 193
11    sp   m   014 186
12    sp   m   014 187
13    sp   m   014 200
14    sp   m   014 197
15    sp   m   014 204
16    sp   m   014 188
17    sp   m   014   0
18    sp   m   014   0
19    sp   m   014   1
20    sp   m   014   0
21    sp   m   014   2
22    sp   m   014   3
23    sp   m   014   0
24    sp   m   014   0
25    sp   m   014   5
26    sp   m   014   0
27    sp   m   014   5
28    sp   m   014   0
29    sp   m   014   1
30    sp   m   014   0
⋮     ⋮    ⋮   ⋮   ⋮
76017 rel  f   65   427
76018 rel  f   65   418
76019 rel  f   65     1
76020 rel  f   65   113
76021 rel  f   65    30
76022 rel  f   65    37
76023 rel  f   65    80
76024 rel  f   65   165
76025 rel  f   65    20
76026 rel  f   65    53
76027 rel  f   65     0
76028 rel  f   65     2
76029 rel  f   65    10
76030 rel  f   65   171
76031 rel  f   65   960
76032 rel  f   65     0
76033 rel  f   65   341
76034 rel  f   65  1241
76035 rel  f   65     6
76036 rel  f   65   462
76037 rel  f   65   786
76038 rel  f   65    35
76039 rel  f   65  1120
76040 rel  f   65     7
76041 rel  f   65   402
76042 rel  f   65  3110
76043 rel  f   65     2
76044 rel  f   65   360
76045 rel  f   65   669
76046 rel  f   65   725

In [110]:
df %>% gather(new_sp_m014:newrel_f65,key="key",value = "value",
        na.rm=T) %>% 
        mutate(key=str_replace(key,"newrel","new_rel")) %>%
        separate(col = key,into=c("new","type","sexage"),sep="_")%>%
        separate(col=sexage,into=c("sex","age"),sep=1) %>% 
        select(-iso2,-iso3,-new)

      country                                              year type sex age
1     Afghanistan                                          1997 sp   m   014
2     Afghanistan                                          1998 sp   m   014
3     Afghanistan                                          1999 sp   m   014
4     Afghanistan                                          2000 sp   m   014
5     Afghanistan                                          2001 sp   m   014
6     Afghanistan                                          2002 sp   m   014
7     Afghanistan                                          2003 sp   m   014
8     Afghanistan                                          2004 sp   m   014
9     Afghanistan                                          2005 sp   m   014
10    Afghanistan                                          2006 sp   m   014
11    Afghanistan                                          2007 sp   m   014
12    Afghanistan                                          2008 sp   m   014
13    Afghanistan                                          2009 sp   m   014
14    Afghanistan                                          2010 sp   m   014
15    Afghanistan                                          2011 sp   m   014
16    Afghanistan                                          2012 sp   m   014
17    Albania                                              1995 sp   m   014
18    Albania                                              1997 sp   m   014
19    Albania                                              1998 sp   m   014
20    Albania                                              1999 sp   m   014
21    Albania                                              2000 sp   m   014
22    Albania                                              2001 sp   m   014
23    Albania                                              2002 sp   m   014
24    Albania                                              2003 sp   m   014
25    Albania                                              2004 sp   m   014
26    Albania                                              2005 sp   m   014
27    Albania                                              2006 sp   m   014
28    Albania                                              2007 sp   m   014
29    Albania                                              2008 sp   m   014
30    Albania                                              2009 sp   m   014
⋮     ⋮                                                    ⋮    ⋮    ⋮   ⋮
76017 Spain                                                2013 rel  f   65
76018 Sri Lanka                                            2013 rel  f   65
76019 Suriname                                             2013 rel  f   65
76020 Swaziland                                            2013 rel  f   65
76021 Sweden                                               2013 rel  f   65
76022 Switzerland                                          2013 rel  f   65
76023 Syrian Arab Republic                                 2013 rel  f   65
76024 Tajikistan                                           2013 rel  f   65
76025 The Former Yugoslav Republic of Macedonia            2013 rel  f   65
76026 Togo                                                 2013 rel  f   65
76027 Tokelau                                              2013 rel  f   65
76028 Tonga                                                2013 rel  f   65
76029 Trinidad and Tobago                                  2013 rel  f   65
76030 Tunisia                                              2013 rel  f   65
76031 Turkey                                               2013 rel  f   65
76032 Tuvalu                                               2013 rel  f   65
76033 Uganda                                               2013 rel  f   65
76034 Ukraine                                              2013 rel  f   65
76035 United Arab Emirates                                 2013 rel  f   65
76036 United Kingdom of Great Britain and Northern Ireland 2013 rel  f   65
76037 United States of America                             2013 rel  f   65
76038 Uruguay                                              2013 rel  f   65
76039 Uzbekistan                                           2013 rel  f   65
76040 Vanuatu                                              2013 rel  f   65
76041 Venezuela (Bolivarian Republic of)                   2013 rel  f   65
76042 Viet Nam                                             2013 rel  f   65
76043 Wallis and Futuna Islands                            2013 rel  f   65
76044 Yemen                                                2013 rel  f   65
76045 Zambia                                               2013 rel  f   65
76046 Zimbabwe                                             2013 rel  f   65
      value
1       0
2      30
3       8
4      52
5     129
6      90
7     127
8     139
9     151
10    193
11    186
12    187
13    200
14    197
15    204
16    188
17      0
18      0
19      1
20      0
21      2
22      3
23      0
24      0
25      5
26      0
27      5
28      0
29      1
30      0
⋮     ⋮
76017  427
76018  418
76019    1
76020  113
76021   30
76022   37
76023   80
76024  165
76025   20
76026   53
76027    0
76028    2
76029   10
76030  171
76031  960
76032    0
76033  341
76034 1241
76035    6
76036  462
76037  786
76038   35
76039 1120
76040    7
76041  402
76042 3110
76043    2
76044  360
76045  669
76046  725

In [97]:
x$key %>% unique()

 [1] "new_sp_m014"  "new_sp_m1524" "new_sp_m2534" "new_sp_m3544" "new_sp_m4554"
 [6] "new_sp_m5564" "new_sp_m65"   "new_sp_f014"  "new_sp_f1524" "new_sp_f2534"
[11] "new_sp_f3544" "new_sp_f4554" "new_sp_f5564" "new_sp_f65"   "new_sn_m014"
[16] "new_sn_m1524" "new_sn_m2534" "new_sn_m3544" "new_sn_m4554" "new_sn_m5564"
[21] "new_sn_m65"   "new_sn_f014"  "new_sn_f1524" "new_sn_f2534" "new_sn_f3544"
[26] "new_sn_f4554" "new_sn_f5564" "new_sn_f65"   "new_ep_m014"  "new_ep_m1524"
[31] "new_ep_m2534" "new_ep_m3544" "new_ep_m4554" "new_ep_m5564" "new_ep_m65"
[36] "new_ep_f014"  "new_ep_f1524" "new_ep_f2534" "new_ep_f3544" "new_ep_f4554"
[41] "new_ep_f5564" "new_ep_f65"   "newrel_m014"  "newrel_m1524" "newrel_m2534"
[46] "newrel_m3544" "newrel_m4554" "newrel_m5564" "newrel_m65"   "newrel_f014"
[51] "newrel_f1524" "newrel_f2534" "newrel_f3544" "newrel_f4554" "newrel_f5564"
[56] "newrel_f65"

In [99]:
library(stringr)
str_replace("newrel_f1524","newrel","rana")

[1] "rana_f1524"

In [119]:
p<-expand_grid(
product = c("A", "B"),
country = c("AI", "EI"),
year = 2000:2014
) %>%
filter((product == "A" & country == "AI") | product == "B") %>%
mutate(production = rnorm(nrow(.)))

In [120]:
p

   product country year production
1  A       AI      2000 -0.10036442
2  A       AI      2001 -0.90747509
3  A       AI      2002 -0.40145148
4  A       AI      2003 -0.81486839
5  A       AI      2004  1.12426940
6  A       AI      2005  1.66027485
7  A       AI      2006  0.15510180
8  A       AI      2007  0.34522012
9  A       AI      2008 -0.22103465
10 A       AI      2009 -1.38497303
11 A       AI      2010  1.09422449
12 A       AI      2011 -1.25620171
13 A       AI      2012  0.46203357
14 A       AI      2013  0.99500803
15 A       AI      2014  0.02339508
16 B       AI      2000  0.40861087
17 B       AI      2001  1.16635544
18 B       AI      2002 -0.18321987
19 B       AI      2003 -0.48290724
20 B       AI      2004  0.83682544
21 B       AI      2005 -1.60240682
22 B       AI      2006  0.71674004
23 B       AI      2007  0.50615087
24 B       AI      2008 -1.57621352
25 B       AI      2009 -0.12872297
26 B       AI      2010  0.71608035
27 B       AI      2011 -1.70924118
28 B       AI      2012 -0.93039795
29 B       AI      2013 -2.35878306
30 B       AI      2014 -0.27662414
31 B       EI      2000 -0.34756108
32 B       EI      2001  1.59080833
33 B       EI      2002 -0.62806766
34 B       EI      2003 -0.06541961
35 B       EI      2004  0.11646677
36 B       EI      2005  1.22502873
37 B       EI      2006  1.30363015
38 B       EI      2007  1.27358726
39 B       EI      2008 -0.46603081
40 B       EI      2009  1.72418989
41 B       EI      2010 -1.41534621
42 B       EI      2011 -0.13289187
43 B       EI      2012 -1.51970932
44 B       EI      2013  1.29490381
45 B       EI      2014 -1.16691601

In [118]:
expand_grid(x=1:3,y=4:7,z=10:12) ## 3 nested loop

   x y z
1  1 4 10
2  1 4 11
3  1 4 12
4  1 5 10
5  1 5 11
6  1 5 12
7  1 6 10
8  1 6 11
9  1 6 12
10 1 7 10
11 1 7 11
12 1 7 12
13 2 4 10
14 2 4 11
15 2 4 12
16 2 5 10
17 2 5 11
18 2 5 12
19 2 6 10
20 2 6 11
21 2 6 12
22 2 7 10
23 2 7 11
24 2 7 12
25 3 4 10
26 3 4 11
27 3 4 12
28 3 5 10
29 3 5 11
30 3 5 12
31 3 6 10
32 3 6 11
33 3 6 12
34 3 7 10
35 3 7 11
36 3 7 12

In [123]:
p %>% mutate(pc=str_c(product,country,sep="-")) %>%
      select(-product,-country) %>%
      spread(key = pc,value = production)

   year A-AI        B-AI       B-EI
1  2000 -0.10036442  0.4086109 -0.34756108
2  2001 -0.90747509  1.1663554  1.59080833
3  2002 -0.40145148 -0.1832199 -0.62806766
4  2003 -0.81486839 -0.4829072 -0.06541961
5  2004  1.12426940  0.8368254  0.11646677
6  2005  1.66027485 -1.6024068  1.22502873
7  2006  0.15510180  0.7167400  1.30363015
8  2007  0.34522012  0.5061509  1.27358726
9  2008 -0.22103465 -1.5762135 -0.46603081
10 2009 -1.38497303 -0.1287230  1.72418989
11 2010  1.09422449  0.7160803 -1.41534621
12 2011 -1.25620171 -1.7092412 -0.13289187
13 2012  0.46203357 -0.9303980 -1.51970932
14 2013  0.99500803 -2.3587831  1.29490381
15 2014  0.02339508 -0.2766241 -1.16691601

# Joins in R

In [9]:
# Left Join
result <- left_join(df1, df2, by = "key")

# Right Join
result <- right_join(df1, df2, by = "key")

# Inner Join
result <- inner_join(df1, df2, by = "key")

# Full (Outer) Join
result <- full_join(df1, df2, by = "key")

ERROR: Error in left_join(df1, df2, by = "key"): object 'df1' not found

+ The dataset warpbreaks gives the number o f warp breaks per loom , where a
  loom corresponds to a fixed length of yarn for every combination of wool (A and B)
  and tension ( L , M, H ) .
  Produce a dataset with the columns tension , A, B with the means of the breaks

In [11]:
warpbreaks %>% dim()

[1] 54  3

In [14]:
warpbreaks$wool %>% unique()

[1] A B
Levels: A B

In [15]:
warpbreaks$tension %>% unique()

[1] L M H
Levels: L M H

In [12]:
warpbreaks %>% slice(1:5)

  breaks wool tension
1 26     A    L
2 30     A    L
3 54     A    L
4 25     A    L
5 70     A    L

In [18]:
warpbreaks %>% group_by(wool,tension) %>% summarise(avg=mean(breaks)) %>%
  spread(key=wool,value=avg)

`summarise()` has grouped output by 'wool'. You can override using the `.groups`
argument.

  tension A        B
1 L       44.55556 28.22222
2 M       24.00000 28.77778
3 H       24.55556 18.77778