<h1 style="color:blue;text-align:center">Descriptive Statistics</h1>

+ (a) Import “corona.csv”.

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
df<-read_csv('corona.csv') %>% as_tibble()
df %>% head(5)

Rows: 62392 Columns: 11
── Column specification ────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): continent, location
dbl (9): year, month, day, total_cases, new_cases, total_deaths, new_deaths,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  continent location    year month day total_cases new_cases total_deaths
1 Asia      Afghanistan 2020 1     23  NA          0         NA
2 Asia      Afghanistan 2020 1     24  NA          0         NA
3 Asia      Afghanistan 2020 1     25  NA          0         NA
4 Asia      Afghanistan 2020 1     26  NA          0         NA
5 Asia      Afghanistan 2020 1     27  NA          0         NA
  new_deaths reproduction_rate population
1 0          NA                38928341
2 0          NA                38928341
3 0          NA                38928341
4 0          NA                38928341
5 0          NA                38928341

In [4]:
df %>% str()

tibble [62,392 × 11] (S3: tbl_df/tbl/data.frame)
 $ continent        : chr [1:62392] "Asia" "Asia" "Asia" "Asia" ...
 $ location         : chr [1:62392] "Afghanistan" "Afghanistan" "Afghanistan" "Afghanistan" ...
 $ year             : num [1:62392] 2020 2020 2020 2020 2020 2020 2020 2020 2020 2020 ...
 $ month            : num [1:62392] 1 1 1 1 1 1 1 1 1 2 ...
 $ day              : num [1:62392] 23 24 25 26 27 28 29 30 31 1 ...
 $ total_cases      : num [1:62392] NA NA NA NA NA NA NA NA NA NA ...
 $ new_cases        : num [1:62392] 0 0 0 0 0 0 0 0 0 0 ...
 $ total_deaths     : num [1:62392] NA NA NA NA NA NA NA NA NA NA ...
 $ new_deaths       : num [1:62392] 0 0 0 0 0 0 0 0 0 0 ...
 $ reproduction_rate: num [1:62392] NA NA NA NA NA NA NA NA NA NA ...
 $ population       : num [1:62392] 38928341 38928341 38928341 38928341 38928341 ...

In [5]:
df$continent %>% unique()

[1] "Asia"          "Europe"        "Africa"        "North America"
[5] "South America" "Oceania"       NA

In [7]:
df$location %>% unique() %>% length()

[1] 192

In [8]:
df$year %>% unique()

[1] 2020